<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">

    <link th:href="@{/css/bootstrap-4.5.0-dist/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/js/jquery-1.7.2.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>

    <title th:text="#{externalDispatchInfo}">External dispatch info</title>
</head>
<body>

    <div class="container" th:replace="fragments/menu :: menu">
        <p>menu</p>
    </div>

<div class="container">

    <br>

    <h3 th:text="#{externalDispatchDirectory}">External dispatch Directory</h3>

    <hr>

    <p class="h4 mb-4" th:text="${externalDispatch.letterOutgoingNumber} + ' ' + #{information}"></p>

    <div th:object="${externalDispatch}">

        <div class="row px-3">
            <div class="col-sm-3 border">
                <h6 th:text="#{letterOutgoingNumber} + ':'">Letter outgoing number:</h6>
            </div>
            <div class="col-sm-2 border">
                <h6 th:text="*{letterOutgoingNumber}"></h6>
            </div>
        </div>

        <div class="row px-3">
            <div class="col-sm-3 border">
                <h6 th:text="#{dispatchDate} + ':'">Dispatch date:</h6>
            </div>
            <div class="col-sm-2 border">
                <h6 th:text="*{dispatchDate}"></h6>
            </div>
        </div>

        <div class="row px-3">
            <div class="col-sm-3 border">
                <h6 th:text="#{waybill} + ':'">Waybill:</h6>
            </div>
            <div class="col-sm-2 border">
                <h6 th:text="*{waybill}"></h6>
            </div>
        </div>

        <div class="row px-3">
            <div class="col-sm-3 border">
                <h6 th:text="#{status} + ':'">Status:</h6>
            </div>
            <div class="col-sm-2 border">
                <h6 th:text="#{${'status.' + externalDispatch.status}}"></h6>
            </div>
        </div>

        <div class="row px-3">
            <div class="col-sm-3 border">
                <h6 th:text="#{remark} + ':'">Remark:</h6>
            </div>
            <div class="col-sm-2 border">
                <h6 th:text="*{remark}"></h6>
            </div>
        </div>

        <div class="row px-3 mb-1">
            <div class="col-sm-3 border">
                <h6 th:text="#{company} + ':'">Company:</h6>
            </div>
            <div class="col-sm-2 border">
                <a class="h6" th:if="*{company != null}" th:href="@{'/companies/showCompanyInfo/' + ${externalDispatch.company.id}}" th:target="_blank" th:text="*{company.name}"></a>
            </div>
        </div>

        <div class="row px-5" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_OTD_WORKER')">
            <div class="col-sm-2">

            </div>
            <div class="col-sm-3 text-right">
                <a th:href="@{'/externaldispatches/showFormForUpdate/' + ${externalDispatch.id}}" class="btn btn-sm btn-outline-info mb-1" th:text="#{update}">Update</a>
                <a th:href="@{'/externaldispatches/delete/' + ${externalDispatch.id}}" class="btn btn-sm btn-outline-danger mb-1"
                   onclick="if (!(confirm('Are you sure?'))) return false" th:text="#{delete}">Delete</a>
            </div>
        </div>

    </div>

<br><br>



    <form th:action="@{'/externaldispatches/addDocument/' + ${externalDispatch.id}}" method="post" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_OTD_WORKER')">
        <div class="row mb-3">
            <div class="col-sm-4">
                <input type="text" th:class="${errorMessage == null} ? 'form-control' : 'form-control is-invalid'" th:name="newDocument" th:value="${errorMessage != null} ? ${param.newDocument} : ''" th:placeholder="#{decimalNumber}"/>
            </div>
            <button type="submit" class="btn btn-primary col-2" th:text="#{addDocument}">Add document</button>
        </div>
        <span class="help-block" th:if="${errorMessage != null}">
            <div th:switch="${errorMessage}">
                <ul>
                    <li class="text-danger" th:case="'Decimal number must not be empty'" th:text="#{addDocumentError.NotEmpty}"/>
                    <li class="text-danger" th:case="'Document already added'" th:text="#{externalDispatchDocumentsList.addDocumentError.AlreadyAdded}"/>
                    <li class="text-danger" th:case="'Document not found'" th:text="#{addDocumentError.NotExist}"/>
                </ul>
            </div>
        </span>
    </form>

    <div th:if="${externalDispatch.documents == null || externalDispatch.documents.size() == 0}">
        <h6 th:text="#{noDocuments}">No documents</h6>
    </div>

    <div th:if="${externalDispatch.documents != null && externalDispatch.documents.size() != 0}">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark text-center">
                <th class="align-middle" th:text="#{decimalNumber}">Decimal number</th>
                <th class="align-middle" th:text="#{name}">Name</th>
                <th class="align-middle" th:text="#{active}">Active</th>
                <th class="align-middle" th:text="#{action}" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_OTD_WORKER')">Action</th>
            </thead>
            <tbody>
                <tr th:each="entry : ${externalDispatch.documents}" th:class="${entry.value} ? 'table-default' : 'table-danger'">
                    <td class="align-middle">
                        <a th:href="@{'/documents/showDocumentInfo/' + ${entry.key.id}}" th:target="_blank" th:text="${entry.key.decimalNumber}"></a>
                    </td>
                    <td class="align-middle" th:text="${entry.key.name}"></td>
                    <td class="align-middle text-center" th:text="#{${entry.value ? 'yes' : 'no'}}"></td>
                    <td class="align-middle text-center" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_OTD_WORKER')">
                        <a class="btn btn-sm btn-outline-danger"
                           th:href="@{'/externaldispatches/removeDocument/' + ${externalDispatch.id} + '/' + ${entry.key.id}}" onclick="if (!(confirm('Are you sure?'))) return false" th:text="#{remove}">Remove</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="text-danger" th:if="${errorDeleteMessage != null}">
        <h6 th:text="#{externalDispatchRemoveDocumentErrorMessage}"></h6>
    </div>

</div>
</body>
</html>