<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link th:href="@{/css/bootstrap-4.5.0-dist/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/static/js/jquery.min.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

    <title>External Dispatches List</title>
</head>
<body>
<div class="container">
    <a th:href="@{/}">Back to Home page</a>
    <br><br>
    <h3>External dispatch List</h3>
    <hr>


    <a th:href="@{/externaldispatches/showAddForm}" class="btn btn-primary btn-sm mb-3">Add External Dispatch</a>

    <table class="table table-bordered table-hover">
        <thead class="thead-dark text-center">
        <tr>
            <th class="align-middle">Waybill</th>
            <th class="align-middle">Dispatch date</th>
            <th class="align-middle">Status</th>
            <th class="align-middle">Remark</th>
            <th class="align-middle">Letter outgoing number</th>
            <th class="align-middle">Company</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempExternal : ${externalDispatches}">
            <td class="align-middle">
                <a th:href="@{'/externaldispatches/showExternalDispatchInfo/' + ${tempExternal.id}}"><span class="text-dark" th:text="${tempExternal.waybill}"/></a>
            </td>
            <td class="align-middle" th:text="${tempExternal.dispatchDate}"></td>
            <td class="align-middle text-center" th:text="${tempExternal.status}"></td>
            <td class="align-middle text-center" th:text="${tempExternal.remark}"></td>
            <td class="align-middle text-center" th:text="${tempExternal.letterOutgoingNumber}"></td>
            <td class="align-middle text-center" th:text="${tempExternal.company == null} ? '' : ${tempExternal.company.name}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>