<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">

    <link th:href="@{/css/bootstrap-4.5.0-dist/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/js/jquery-1.7.2.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>

    <title th:text="#{changeDocumentsList}">Change documents list</title>
</head>
<body>

    <div class="container" th:replace="fragments/menu :: menu">
        <p>menu</p>
    </div>

<div class="container">

    <br>

    <h3 th:text="#{changeNoticeDirectory}">Change notice Directory</h3>

    <hr>

    <form th:action="@{/changenotices/addDocument}" th:object="${changeNotice}" method="post" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_OTD_WORKER')">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{name}">
        <input type="hidden" th:field="*{issueDate}">
        <input type="hidden" th:field="*{changeCode}">
        <input type="hidden" th:field="*{department}">

        <div class="row mb-1">
            <div class="col-sm-4">
                <input type="text" th:class="${docErrorMessage == null} ? 'form-control' : 'form-control is-invalid'" th:name="newDocument" th:value="${docErrorMessage != null || numberErrorMessage != null} ? ${param.newDocument} : ''" th:placeholder="#{decimalNumber}"/>
                <span class="help-block" th:if="${docErrorMessage != null}">
                    <div th:switch="${docErrorMessage}">
                        <ul>
                             <li class="text-danger" th:case="'Decimal number must not be empty'" th:text="#{addDocumentError.NotEmpty}"/>
                             <li class="text-danger" th:case="'Document does not exist'" th:text="#{addDocumentError.NotExist}"/>
                             <li class="text-danger" th:case="'This change notice already has this document'" th:text="#{changeNoticeDocumentsList.addDocumentError.AlreadyAdded}"/>
                        </ul>
                    </div>
                </span>
            </div>
            <div class="col-sm-4">
                <input type="number" th:class="${numberErrorMessage == null} ? 'form-control' : 'form-control is-invalid'" th:name="newDocumentChangeNumber" th:value="${numberErrorMessage != null || docErrorMessage != null} ? ${param.newDocumentChangeNumber} : ''" th:placeholder="#{changeNumber}"/>
                <span class="help-block" th:if="${numberErrorMessage != null}">
                    <div th:switch="${numberErrorMessage}">
                        <ul>
                             <li class="text-danger" th:case="'Change number must not be empty'" th:text="#{changeNoticeDocumentsList.addDocumentError.ChangeNumberNotEmpty}"/>
                             <li class="text-danger" th:case="'Change number must be greater than 0'" th:text="#{changeNoticeDocumentsList.addDocumentError.ChangeNumberMin}"/>
                             <li class="text-danger" th:case="'Document already has this change number'" th:text="#{changeNoticeDocumentsList.addDocumentError.ChangeNumberAlreadyHas}"/>
                             <li class="text-danger" th:case="'Invalid change number'" th:text="#{changeNoticeDocumentsList.addDocumentError.ChangeNumberInvalid}"/>
                        </ul>
                    </div>
                </span>
            </div>
            <div class="col-sm-3">
                <button type="submit" class="btn btn-primary" th:text="#{addDocument}">Add document</button>
            </div>
        </div>
    </form>

    <br>

    <p class="h4 mb-4" th:text="${changeNotice.name} + ' ' + #{changeNoticeDocumentsList.documents}"></p>

    <div th:if="${changeNotice.documents == null || changeNotice.documents.size() == 0}">
        <h6 th:text="#{noDocuments}">No documents</h6>
    </div>

    <div th:if="${changeNotice.documents != null && changeNotice.documents.size() != 0}">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark text-center">
                <th class="align-middle" th:text="#{decimalNumber}">Decimal number</th>
                <th class="align-middle" th:text="#{name}">Name</th>
                <th class="align-middle" th:text="#{changeNumber}">Change number</th>
                <th class="align-middle" th:text="#{developer}">Developer</th>
                <th class="align-middle" th:text="#{action}" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_OTD_WORKER')">Action</th>
            </thead>
            <tbody>
                <tr th:each="entry : ${changeNotice.documents.entrySet()}">
                    <td class="align-middle" th:text="${entry.key.decimalNumber}"></td>
                    <td class="align-middle" th:text="${entry.key.name}"></td>
                    <td class="align-middle text-center" th:text="${entry.value}"></td>
                    <td class="align-middle text-center" th:text="${entry.key.department == null} ? '' : ${entry.key.department.name}"></td>
                    <td class="align-middle text-center" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_OTD_WORKER')">
                        <a class="btn btn-sm btn-outline-danger"
                           th:href="@{'/changenotices/removeDocument/' + ${changeNotice.id} + '/' + ${entry.key.id}}" onclick="if (!(confirm('Are you sure?'))) return false" th:text="#{remove}">Remove</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-danger" th:if="${errorMessage != null}">
        <h5 th:text="#{changeNoticeDocumentsList.docRemoveErrorMessage}"></h5>
    </div>
</div>
</body>
</html>