<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link th:href="@{/css/bootstrap-4.5.0-dist/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/static/js/jquery.min.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>

    <title>Change notice Info</title>
</head>
<body>
    <div class="container">

        <a th:href="@{/changenotices/list}">Back to Change notices list</a>

        <br><br>

        <h3>Change notice Directory</h3>

        <hr>

        <p class="h4 mb-4" th:text="${changeNotice.name} + ' information'"></p>

        <div th:object="${changeNotice}">

            <div class="row">
                <div class="col-sm-2 border">
                    <h6>Name:</h6>
                </div>
                <div class="col-sm-3 border">
                    <h6 th:text="*{name}"></h6>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 border">
                    <h6>Issue date:</h6>
                </div>
                <div class="col-sm-3 border">
                    <h6 th:text="*{issueDate}"></h6>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 border">
                    <h6>Change code:</h6>
                </div>
                <div class="col-sm-3 border">
                    <h6 th:text="*{changeCode}"></h6>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 border">
                    <h6>Department:</h6>
                </div>
                <div class="col-sm-3 border">
                    <h6 th:text="*{department == null} ? '' : *{name} "></h6>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-sm-2 border">
                    <h6>Documents:</h6>
                </div>
                <div class="col-sm-3 border">
                    <a th:href="@{'/changenotices/showDocuments/' + ${changeNotice.id}}">Show documents</a>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-sm-4 offset-1 text-right">
                    <a th:href="@{'/changenotices/showFormForUpdate/' + ${changeNotice.id}}" class="btn btn-sm btn-outline-info">Update</a>
                    <a th:href="@{'/changenotices/delete/' + ${changeNotice.id}}" class="btn btn-sm btn-outline-danger"
                       onclick="if (!(confirm('Are you sure?'))) return false">Delete</a>
                </div>
            </div>

        </div>



    </div>
</body>
</html>