<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link th:href="@{/css/bootstrap-4.5.0-dist/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/js/jquery-2.1.4.min.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

    <title>Change notice - Add documents</title>
</head>
<body>
    <div class="container">
        <h3>Change notice Directory</h3>

        <p class="h4 mb-4">Add Documents to change notice</p>

        <form class="form-horizontal" th:action="@{/changenotices/addDocument}" th:object="${changeNoticeTo}" method="post">
            <h5 th:text="${changeNoticeTo.name}"></h5>
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{name}">
            <input type="hidden" th:field="*{changeCode}">
            <input type="hidden" th:field="*{developerName}">
            <input type="hidden" th:field="*{documentDecimalNumbers}">

            <div class="form-group">
                <label class="col-sm-4 control-label">Document decimal number:</label>
                <div class="col-sm-8">
                    <input type="text" th:class="${#fields.hasErrors('tempDocumentDecimalNumber')} ? 'form-control is-invalid' : 'form-control'" th:field="*{tempDocumentDecimalNumber}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('tempDocumentDecimalNumber')}">
                        <ul>
                            <li class="text-danger" th:each="err : ${#fields.errors('tempDocumentDecimalNumber')}" th:text="${err}"/>
                        </ul>
                    </span>
                </div>
            </div>


            <div class="row">
                <button type="submit" class="btn btn-info col-2 offset-1">Add document</button>
            </div>

        </form>

        <br><br>

        <form th:action="@{/changenotices/save}" th:object="${changeNoticeTo}" method="post">
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{name}">
            <input type="hidden" th:field="*{changeCode}">
            <input type="hidden" th:field="*{developerName}">

            <div class="form-group" th:if="${changeNoticeTo.documentDecimalNumbers != null && #lists.size(changeNoticeTo.documentDecimalNumbers) > 0}">
                <label class="col-sm-2 control-label">Documents:</label>
                <div class="col-sm-10">
                    <div class="form-check form-check-inline">
                        <p th:each="checkBox : ${changeNoticeTo.documentDecimalNumbers}">
                            <input type="checkbox" th:field="*{documentDecimalNumbers}" th:value="${checkBox}"/>
                            <label class="btn btn-secondary" th:for="${#ids.prev('documentDecimalNumbers')}" th:text="${checkBox}"></label>
                        </p>
                        <span class="help-block" th:if="${#fields.hasErrors('documentDecimalNumbers')}">
                            <ul>
                                <li class="text-danger" th:each="err : ${#fields.errors('documentDecimalNumbers')}" th:text="${err}"/>
                            </ul>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <button type="submit" class="btn btn-info col-2 offset-1">Save</button>
            </div>
        </form>

    </div>
</body>
</html>