<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">

    <link th:href="@{/css/bootstrap-4.5.0-dist/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/js/jquery-1.7.2.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>

    <title th:text="#{changeNoticeInfo}">Change notice Info</title>
</head>
<body>

    <div class="container" th:replace="fragments/menu :: menu">
        <p>menu</p>
    </div>

    <div class="container">

        <br>

        <h3 class="font-weight-bold text-secondary" th:text="#{index.section.changenotices}">Change notices</h3>

        <hr>

        <p class="h4 mb-4" th:text="${changeNotice.name} + ' ' + #{information}"></p>

        <div th:object="${changeNotice}">

            <div class="row px-3">
                <div class="col-sm-2 border bg-light">
                    <h6 class="font-weight-bold pull-right m-1" th:text="#{name} + ':'">Name:</h6>
                </div>
                <div class="col-sm-3 border bg-light">
                    <h6 class="m-1" th:text="*{name}"></h6>
                </div>
            </div>

            <div class="row px-3">
                <div class="col-sm-2 border bg-light">
                    <h6 class="font-weight-bold pull-right m-1" th:text="#{issueDate} + ':'">Issue date:</h6>
                </div>
                <div class="col-sm-3 borde bg-light">
                    <h6 class="m-1" th:text="*{issueDate}"></h6>
                </div>
            </div>

            <div class="row px-3">
                <div class="col-sm-2 border bg-light">
                    <h6 class="font-weight-bold pull-right m-1" th:text="#{changeCode} + ':'">Change code:</h6>
                </div>
                <div class="col-sm-3 border bg-light">
                    <h6 class="m-1" th:text="*{changeCode}"></h6>
                </div>
            </div>

            <div class="row px-3">
                <div class="col-sm-2 border bg-light">
                    <h6 class="font-weight-bold pull-right m-1" th:text="#{developer} + ':'">Developer:</h6>
                </div>
                <div class="col-sm-3 border bg-light column-height-30px">
                    <a class="btn btn-link pl-1 pt-0" th:if="*{department != null}" th:href="@{'/departments/showDepartmentInfo/' + ${changeNotice.department.id}}" th:target="_blank" th:text="*{department.name}"></a>
                </div>
            </div>

            <div class="row px-3 mb-1">
                <div class="col-sm-2 border bg-light">
                    <h6 class="font-weight-bold pull-right m-1" th:text="#{documents} + ':'">Documents:</h6>
                </div>
                <div class="col-sm-3 border bg-light column-height-30px">
                    <a class="btn btn-link pl-1 mt-n1 font-15px" th:href="@{'/changenotices/showDocuments/' + ${changeNotice.id}}" th:text="#{showDocuments}">Show documents</a>
                </div>
            </div>

            <div class="row px-3 mb-1" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_OTD_WORKER')">
                <div class="col-sm-2 m-2">

                </div>
                <div class="col-sm-3 text-right">
                    <a th:href="@{'/changenotices/showFormForUpdate/' + ${changeNotice.id}}" class="badge badge-info mb-1 width-60px" th:text="#{update}">Update</a>
                    <a th:href="@{'/changenotices/delete/' + ${changeNotice.id}}" class="badge badge-danger mb-1 width-60px"
                       onclick="if (!(confirm('Are you sure?'))) return false" th:text="#{delete}">Delete</a>
                </div>
            </div>

        </div>

        <br>

        <p class="h4 mb-4" th:text="${changeNotice.name} + ' ' + #{electronicImage}"></p>

        <div th:if="${electronicImageChangeNotice == null}">
            <p class="h6" th:text="#{noElectronicImages}">No electronic images</p>
            <br>

            <!--        <p th:if="${emptyFileError != null}" class="text-danger">File should not be empty!</p>-->

            <!--        <p th:if="${typeFileError != null}" class="text-danger">File should be pdf!</p>-->

            <form th:action="@{'/electronicImageChangeNotices/save/' + ${changeNotice.id}}" method="post" enctype="multipart/form-data">
                <div class="row mb-2 px-3">
                    <div class="col-sm-5 custom-file">
                        <input type="file" th:class="${addFileError == null} ? 'custom-file-input' : 'custom-file-input is-invalid'" id="customFile" name="file">
                        <label class="custom-file-label" for="customFile" th:text="#{chooseFile}">Choose file</label>
                    </div>
                </div>

                <span class="help-block">
                    <div th:switch="${addFileError}" th:if="${addFileError != null}">
                        <ul>
                            <li class="text-danger" th:case="'File should not be empty!'" th:text="#{addFileError.fileShouldNotBeEmpty}"/>
                            <li class="text-danger" th:case="'File should have pdf type!'" th:text="#{addFileError.fileShouldHavePdfType}"/>
                        </ul>
                    </div>
                </span>

                <div class="row px-3">
                    <div class="col-sm-1 m-2">

                    </div>
                    <div class="col-sm-4">
                        <button type="submit" class="badge badge-primary pull-right" th:text="#{addImage}">Add electronic image</button>
                    </div>
                </div>

                <!--                <div class="row">-->
<!--                <span class="help-block">-->
<!--                    <div th:switch="${addFileError}" th:if="${addFileError != null}">-->
<!--                        <ul>-->
<!--                            <li class="text-danger" th:case="'File should not be empty!'" th:text="#{addFileError.fileShouldNotBeEmpty}"/>-->
<!--                            <li class="text-danger" th:case="'File should have pdf type!'" th:text="#{addFileError.fileShouldHavePdfType}"/>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </span>-->

<!--                </div>-->
            </form>

            <script>
                // Add the following code if you want the name of the file appear on select
                $(".custom-file-input").on("change", function() {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                });
            </script>
        </div>

        <div class="row align-items-center h-100 px-3 mb-3" th:if="${electronicImageChangeNotice != null}">
            <div class="col-sm-4">
                <h6 class="pull-right m-1" th:text="${electronicImageChangeNotice.fileName}">Electronic image file name</h6>
            </div>
            <div class="col-sm-4">
                <a class="btn btn-sm btn-success mr-2"
                   th:href="@{'/electronicImageChangeNotices/showFile/' + ${changeNotice.id}}" th:target="_blank"><i class="fa fa-binoculars"></i></a>

                <a class="btn btn-sm btn-danger"
                   th:href="@{'/electronicImageChangeNotices/delete/' + ${changeNotice.id} + '/' + ${electronicImageChangeNotice.id}}" onclick="if (!(confirm('Are you sure?'))) return false"><i class="fa fa-times"></i></a>
            </div>
        </div>


    </div>
</body>
</html>