<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link th:href="@{/css/bootstrap-4.5.0-dist/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/js/jquery-1.7.2.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>

    <title th:text="#{${changeNotice.isNew() ? 'saveChangeNoticeFormTitle' : 'updateChangeNoticeFormTitle'}}">Save change notice</title>
</head>
<body>

    <div class="container" th:replace="fragments/menu :: menu">
        <p>menu</p>
    </div>

    <div class="container">

        <br>

        <h3 class="font-weight-bold text-secondary" th:text="#{index.section.changenotices}">Change notices</h3>

        <hr>

        <p class="h4 font-weight-bolder font-italic mb-4 offset-sm-3" th:text="#{changeNoticeCard}">Change notice Card</p>

        <form class="form-horizontal" th:object="${changeNotice}" th:action="@{/changenotices/save}" method="post">

            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger h5 col-sm-6 offset-sm-2 text-center">
                <p class="m-1" th:text="#{pleaseCorrectValues}">Error Message</p>
            </div>

            <input type="hidden" th:field="*{id}">

            <div class="row mb-3">
                <div class="col-sm-2 form-control-plaintext offset-sm-1">
                    <h6 class="font-weight-bold pull-right" th:text="#{name} + ':'">Name:</h6>
                </div>
                <div class="col-sm-5">
                    <input type="text" th:field="*{name}" th:class="${#fields.hasErrors('name')} ? 'form-control is-invalid' : 'form-control'" th:placeholder="#{name}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('name')}">
                        <ul>
                            <li class="text-danger" th:each="err : ${#fields.errors('name')}" th:text="${err}"/>
                        </ul>
                    </span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-2 form-control-plaintext offset-sm-1">
                    <h6 class="font-weight-bold pull-right" th:text="#{changeCode} + ':'">Change code:</h6>
                </div>
                <div class="col-sm-5">
                    <input type="number" th:field="*{changeCode}" th:class="${#fields.hasErrors('changeCode')} ? 'form-control is-invalid' : 'form-control'" th:placeholder="#{changeCode}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('changeCode')}">
                        <ul>
                            <li class="text-danger" th:each="err : ${#fields.errors('changeCode')}" th:text="${err}"/>
                        </ul>
                    </span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-2 form-control-plaintext offset-sm-1">
                    <h6 class="font-weight-bold pull-right" th:text="#{issueDate} + ':'">Issue date:</h6>
                </div>
                <div class="col-sm-5">
                    <input type="date" th:field="*{issueDate}" th:class="${#fields.hasErrors('issueDate')} ? 'form-control is-invalid' : 'form-control'" th:placeholder="'Issue date'"/>
                    <span class="help-block" th:if="${#fields.hasErrors('issueDate')}">
                        <ul>
                            <li class="text-danger" th:each="err : ${#fields.errors('issueDate')}" th:text="${err}"/>
                        </ul>
                    </span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-2 form-control-plaintext offset-sm-1">
                    <h6 class="font-weight-bold pull-right" th:text="#{developer} + ':'">Developer:</h6>
                </div>
                <div class="col-sm-5">
                    <select class="form-control selectpicker" th:field="*{department}">
                        <option value="" th:text="#{nothingSelected}">Nothing selected</option>
                        <option th:each="dropValue : ${departments}"
                                th:value="${dropValue.name}"
                                th:text="${dropValue.name}">
                        </option>
                    </select>
                    <span class="help-block" th:if="${#fields.hasErrors('department')}">
                        <ul>
                            <li class="text-danger" th:each="err : ${#fields.errors('department')}" th:text="${err}"/>
                        </ul>
                    </span>
                </div>
            </div>

            <div class="row">
                <button type="submit" class="btn-sm btn-primary offset-7" th:text="#{${changeNotice.isNew() ? 'create'  : 'update'}}">Save</button>
            </div>

            <br><br>

        </form>
    </div>
</body>
</html>