<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">

    <link th:href="@{/css/bootstrap-4.5.0-dist/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/js/jquery-1.7.2.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>

    <title th:text="#{changeNoticeInfo}">Change notice Info</title>
</head>
<body>

    <div class="container" th:replace="fragments/menu :: menu">
        <p>menu</p>
    </div>

    <div class="container">

        <br>

        <h3 th:text="#{changeNoticeDirectory}">Change notice Directory</h3>

        <hr>

        <p class="h4 mb-4" th:text="${changeNotice.name} + ' ' + #{information}"></p>

        <div th:object="${changeNotice}">

            <div class="row px-3">
                <div class="col-sm-2 border">
                    <h6 th:text="#{name} + ':'">Name:</h6>
                </div>
                <div class="col-sm-3 border">
                    <h6 th:text="*{name}"></h6>
                </div>
            </div>

            <div class="row px-3">
                <div class="col-sm-2 border">
                    <h6 th:text="#{issueDate} + ':'">Issue date:</h6>
                </div>
                <div class="col-sm-3 border">
                    <h6 th:text="*{issueDate}"></h6>
                </div>
            </div>

            <div class="row px-3">
                <div class="col-sm-2 border">
                    <h6 th:text="#{changeCode} + ':'">Change code:</h6>
                </div>
                <div class="col-sm-3 border">
                    <h6 th:text="*{changeCode}"></h6>
                </div>
            </div>

            <div class="row px-3">
                <div class="col-sm-2 border">
                    <h6 th:text="#{developer} + ':'">Developer:</h6>
                </div>
                <div class="col-sm-3 border">
                    <a class="h6" th:if="*{department != null}" th:href="@{'/departments/showDepartmentInfo/' + ${changeNotice.department.id}}" th:target="_blank" th:text="*{department.name}"></a>
                </div>
            </div>

            <div class="row px-3 mb-1">
                <div class="col-sm-2 border">
                    <h6 th:text="#{documents} + ':'">Documents:</h6>
                </div>
                <div class="col-sm-3 border">
                    <a th:href="@{'/changenotices/showDocuments/' + ${changeNotice.id}}" th:text="#{showDocuments}">Show documents</a>
                </div>
            </div>

            <div class="row mb-1" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_OTD_WORKER')">
                <div class="col-sm-4 offset-1 text-right">
                    <a th:href="@{'/changenotices/showFormForUpdate/' + ${changeNotice.id}}" class="btn btn-sm btn-outline-info" th:text="#{update}">Update</a>
                    <a th:href="@{'/changenotices/delete/' + ${changeNotice.id}}" class="btn btn-sm btn-outline-danger"
                       onclick="if (!(confirm('Are you sure?'))) return false" th:text="#{delete}">Delete</a>
                </div>
            </div>

        </div>

        <br>

        <p class="h4 mb-4" th:text="${changeNotice.name} + ' ' + #{electronicImage}"></p>

        <div th:if="${electronicImageChangeNotice == null}">
            <p class="h6" th:text="#{noElectronicImages}">No electronic images</p>

            <!--        <p th:if="${emptyFileError != null}" class="text-danger">File should not be empty!</p>-->

            <!--        <p th:if="${typeFileError != null}" class="text-danger">File should be pdf!</p>-->

            <form th:action="@{'/electronicImageChangeNotices/save/' + ${changeNotice.id}}" method="post" enctype="multipart/form-data">
                <div class="row mb-1 px-3 align-items-center">
                    <div class="col-sm-3 custom-file">
                        <input type="file" th:class="${addFileError == null} ? 'custom-file-input' : 'custom-file-input is-invalid'" id="customFile" name="file">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn btn-primary" th:text="#{add}">Add electronic image</button>
                    </div>
                </div>
<!--                <div class="row">-->
                <span class="help-block">
                    <div th:switch="${addFileError}" th:if="${addFileError != null}">
                        <ul>
                            <li class="text-danger" th:case="'File should not be empty!'" th:text="#{addFileError.fileShouldNotBeEmpty}"/>
                            <li class="text-danger" th:case="'File should have pdf type!'" th:text="#{addFileError.fileShouldHavePdfType}"/>
                        </ul>
                    </div>
                </span>

<!--                </div>-->
            </form>

            <script>
                // Add the following code if you want the name of the file appear on select
                $(".custom-file-input").on("change", function() {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                });
            </script>
        </div>


        <div class="row px-3 mb-3 align-items-center" th:if="${electronicImageChangeNotice != null}">
            <div class="col-sm-2">
                <p class="my-auto pull-right" th:text="${electronicImageChangeNotice.fileName}">Electronic image file name</p>
            </div>
            <div class="col-sm-4">
                <a th:href="@{'/electronicImageChangeNotices/showFile/' + ${changeNotice.id} + '/' + ${electronicImageChangeNotice.id}}"
                   th:target="_blank" class="btn btn-sm btn-primary"><i class="fa fa-binoculars"></i></a>


                <a class="btn btn-sm btn-outline-info"
                   th:href="@{'/electronicImageChangeNotices/showFile/' + ${changeNotice.id} + '/' + ${electronicImageChangeNotice.id}}" th:target="_blank" th:text="#{show}">Show</a>

                <a class="btn btn-sm btn-outline-danger"
                   th:href="@{'/electronicImageChangeNotices/delete/' + ${changeNotice.id} + '/' + ${electronicImageChangeNotice.id}}" onclick="if (!(confirm('Are you sure?'))) return false" th:text="#{delete}">Delete</a>
            </div>
        </div>

    </div>
</body>
</html>