<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <link th:href="@{/css/bootstrap-4.5.0-dist/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/js/jquery-1.7.2.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>

    <title th:text="#{changenotices.headline}">Change notices list</title>
</head>
<body>

    <div class="container" th:replace="fragments/menu :: menu">
        <p>menu</p>
    </div>

    <div class="container">

        <br>

        <h3 th:text="#{changenotices.headline}">List of Change notices</h3>

        <hr>

        <div class="container-fluid p-3 my-3 bg-dark text-white">
            <form action="#" th:action="@{/changenotices/list}" method="get">
                <div class="row mb-3">
                    <div class="col-sm-2">
                        <input type="text" class="form-control" th:name="name" th:value="${param.name}" th:placeholder="#{changeNoticeNumber}">
                    </div>
                    <div class="col-sm-3 offset-3">
                        <select class="form-control selectpicker" name="department">
                            <option value="" th:text="#{developer} + ' ' + #{notSelected}">Developer (not selected)</option>
                            <option th:each="drop : ${departments}"
                                    th:value="${drop.name}"
                                    th:text="${drop.name}"
                                    th:selected="${drop.name == department}">
                            </option>
                        </select>
                    </div>
                    <div class="col-sm-2 offset-2">
                        <input type="number" class="form-control" th:name="changeCode" th:value="${param.changeCode}" th:placeholder="#{changeCode}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-info" th:text="#{search}">Search</button>
                        <a th:href="@{/changenotices/list}" class="btn btn-danger" th:text="#{clearFilters}">Clear filters</a>
                    </div>
                    <div class="col-sm-1">
                        <div th:text="#{researchDateAfter}" class="h6 thead-dark align-middle text-center"></div>
                    </div>
                    <div class="col-sm-3">
                        <input type="date" class="form-control" th:name="after" th:value="${param.after}">
                    </div>
                    <div class="col-sm-1">
                        <div th:text="#{researchDateBefore}" class="h6 thead-dark align-middle text-center"></div>
                    </div>
                    <div class="col-sm-3">
                        <input type="date" class="form-control" th:name="before" th:value="${param.before}">
                    </div>
                </div>
            </form>
        </div>

        <br><br>

        <a th:href="@{/changenotices/showAddForm}" class="btn btn-primary btn-sm mb-3" th:text="#{changenotices.addNew}">Add Change notice</a>

        <table class="table table-bordered table-hover">
            <thead class="thead-dark text-center">
                <tr>
                    <th class="align-middle"><a class="sorted text-light" sd:pagination-sort="name" th:text="#{changeNoticeNumber}">Name</a></th>
                    <th class="align-middle"><a class="sorted text-light" sd:pagination-sort="issueDate" th:text="#{issueDate}">Issue date</a></th>
                    <th class="align-middle"><a class="sorted text-light" sd:pagination-sort="changeCode" th:text="#{changeCode}">Change code</a></th>
                    <th class="align-middle"><a class="sorted text-light" sd:pagination-sort="department" th:text="#{developer}">Developer</a></th>
                    <th th:text="#{showNotice}">Show notice</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="tempChangeNotice : ${changeNotices}">
                    <td class="align-middle text-center">
                        <a th:href="@{'/changenotices/showChangeNoticeInfo/' + ${tempChangeNotice.id}}" th:text="${tempChangeNotice.name}"></a>
                    </td>
                    <td class="align-middle text-center" th:text="${tempChangeNotice.issueDate}"></td>
                    <td class="align-middle text-center" th:text="${tempChangeNotice.changeCode}"></td>
                    <td class="align-middle text-center">
                        <a th:if="${tempChangeNotice.department != null}" th:href="@{'/departments/showDepartmentInfo/' + ${tempChangeNotice.department.id}}" th:target="_blank" th:text="${tempChangeNotice.department.name}"></a>
                    </td>
                    <td class="align-middle text-center">
                        <a href="file:///C:/ARCHIV_22_N/PODL/VUIA/301411/068/SP/" class="btn btn-sm btn-success"><i class="fa fa-binoculars"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row mb-3">
            <div class="col-sm-6">
                <span th:text="#{showEntries}"></span> <span sd:page-size-selector="javascript"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div sd:pagination-summary="">info</div>
            </div>
            <div class="col-sm-6">
                <nav class="pull-right">
                    <ul class="pagination" sd:pagination-split="5" sd:pagination="full">
                        <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>
</body>
</html>