<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link th:href="@{/css/bootstrap-4.5.0-dist/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/js/jquery-2.1.4.min.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>

    <title>Change notices list</title>
</head>
<body>
    <div class="container">
        <a th:href="@{/}">Back to Home page</a>
        <br><br>
        <h3>Change notices List</h3>
        <hr>

        <a th:href="@{/changenotices/showAddForm}" class="btn btn-primary btn-sm mb-3">Add Change notice</a>

        <table class="table table-bordered table-hover">
            <thead class="thead-dark text-center">
                <tr>
                    <th>Name</th>
                    <th>Change code</th>
                    <th>Developer</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="tempChangeNotice : ${changeNotices}">
                    <td class="align-middle text-center">
                        <a th:href="@{'/changenotices/showChangeNoticeInfo/' + ${tempChangeNotice.id}}"><span class="text-dark" th:text="${tempChangeNotice.name}"/></a>
                    </td>
                    <td class="align-middle text-center" th:text="${tempChangeNotice.changeCode}"></td>
                    <td class="align-middle text-center" th:text="${tempChangeNotice.developer.name}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>