<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link th:href="@{/css/bootstrap-4.5.0-dist/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/static/js/jquery.min.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>

    <title>Save Internal Dispatch</title>
</head>
<body>
<div class="container">

    <a href="#" onclick="goBack()">Go Back</a>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>

    <br><br>

    <h3>Internal Dispatch Directory</h3>

    <hr>

    <p class="h4 mb-3 offset-sm-3">Internal dispatch card</p>

    <form class="form-horizontal" th:object="${internalDispatch}" th:action="@{/internaldispatches/save}" method="post">

        <div th:if="${#fields.hasErrors('*')}" class="text-danger h5 offset-sm-2">
            <p th:text="'Please correct values in error below'">Error Message</p>
        </div>

        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{receivedInternalDate}">
        <input type="hidden" th:field="*{internalHandlerName}">
        <input type="hidden" th:field="*{internalHandlerPhoneNumber}">
        <input type="hidden" th:field="*{isActive}">

        <div class="row mb-3">
            <div class="col-sm-2 form-control-plaintext offset-sm-1">
                <h6>Is Album:</h6>
            </div>
            <div class="col-sm-5 mt-2">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <p>
                        <input type="radio" th:field="*{isAlbum}" th:value="1" th:checked="*{isAlbum}">Yes
                        <input type="radio" th:field="*{isAlbum}" th:value="0" th:checked="*{isAlbum}">No
                    </p>
                </div>
                <span class="help-block" th:if="${#fields.hasErrors('isAlbum')}">
                    <ul>
                        <li class="text-danger" th:each="err : ${#fields.errors('isAlbum')}" th:text="${err}"/>
                    </ul>
                </span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-2 form-control-plaintext offset-sm-1">
                <h6>Album name:</h6>
            </div>
            <div class="col-sm-5">
                <input type="text" th:field="*{albumName}" th:class="${#fields.hasErrors('albumName')} ? 'form-control is-invalid' : 'form-control'" th:placeholder="'Album name'"/>
                <span class="help-block" th:if="${#fields.hasErrors('albumName')}">
                        <ul>
                            <li class="text-danger" th:each="err : ${#fields.errors('albumName')}" th:text="${err}"/>
                        </ul>
                    </span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-2 form-control-plaintext offset-sm-1">
                <h6>Waybill:</h6>
            </div>
            <div class="col-sm-5">
                <input type="text" th:field="*{waybill}" th:class="${#fields.hasErrors('waybill')} ? 'form-control is-invalid' : 'form-control'" th:placeholder="'Waybill'"/>
                <span class="help-block" th:if="${#fields.hasErrors('waybill')}">
                        <ul>
                            <li class="text-danger" th:each="err : ${#fields.errors('waybill')}" th:text="${err}"/>
                        </ul>
                    </span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-2 form-control-plaintext offset-sm-1">
                <h6>Dispatch date:</h6>
            </div>
            <div class="col-sm-5">
                <input type="date" th:field="*{dispatchDate}" th:class="${#fields.hasErrors('dispatchDate')} ? 'form-control is-invalid' : 'form-control'"/>
                <span class="help-block" th:if="${#fields.hasErrors('dispatchDate')}">
                        <ul>
                            <li class="text-danger" th:each="err : ${#fields.errors('dispatchDate')}" th:text="${err}"/>
                        </ul>
                    </span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-2 form-control-plaintext offset-sm-1">
                <h6>Status:</h6>
            </div>
            <div class="col-sm-5">
                <div class="btn-group btn-group-toggle" data-toggle="buttons" th:class="${#fields.hasErrors('status')} ? 'btn-group btn-group-toggle is-invalid' : 'btn-group btn-group-toggle'">
                    <div th:each="radioValue : ${T(com.igar15.filecabinet.entity.enums.Status).values()}" th:field="*{status}">
                        <input type="radio" th:field="*{status}" th:value="${radioValue}"/>
                        <label class="btn-sm btn-light" th:for="${#ids.prev('status')}" th:text="${radioValue.name}" ></label>
                    </div>
                </div>
                <span class="help-block" th:if="${#fields.hasErrors('status')}">
                        <ul>
                            <li class="text-danger" th:each="err : ${#fields.errors('status')}" th:text="${err}"/>
                        </ul>
                    </span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-2 form-control-plaintext offset-sm-1">
                <h6>Remark:</h6>
            </div>
            <div class="col-sm-5">
                <input type="text" th:field="*{remark}" th:class="${#fields.hasErrors('remark')} ? 'form-control is-invalid' : 'form-control'" th:placeholder="'Remark'"/>
                <span class="help-block" th:if="${#fields.hasErrors('remark')}">
                        <ul>
                            <li class="text-danger" th:each="err : ${#fields.errors('remark')}" th:text="${err}"/>
                        </ul>
                    </span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-2 form-control-plaintext offset-sm-1">
                <h6>Stamp:</h6>
            </div>
            <div class="col-sm-5">
                <div class="btn-group btn-group-toggle" data-toggle="buttons" th:class="${#fields.hasErrors('stamp')} ? 'btn-group btn-group-toggle is-invalid' : 'btn-group btn-group-toggle'">
                    <div th:each="radioValue : ${T(com.igar15.filecabinet.entity.enums.Stamp).values()}" th:field="*{stamp}">
                        <input type="radio" th:field="*{stamp}" th:value="${radioValue}"/>
                        <label class="btn-sm btn-light" th:for="${#ids.prev('stamp')}" th:text="${radioValue}" ></label>
                    </div>
                </div>
                <span class="help-block" th:if="${#fields.hasErrors('stamp')}">
                        <ul>
                            <li class="text-danger" th:each="err : ${#fields.errors('stamp')}" th:text="${err}"/>
                        </ul>
                    </span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-2 form-control-plaintext offset-sm-1">
                <h6>Dispatch handler:</h6>
            </div>
            <div class="col-sm-5">
                <select class="form-control selectpicker" th:field="*{dispatchHandler}">
                    <option value="">Nothing selected</option>
                    <option th:each="dropValue : ${departments}"
                            th:value="${dropValue.name}"
                            th:text="${dropValue.name}">
                    </option>
                </select>
                <span class="help-block" th:if="${#fields.hasErrors('dispatchHandler')}">
                        <ul>
                            <li class="text-danger" th:each="err : ${#fields.errors('dispatchHandler')}" th:text="${err}"/>
                        </ul>
                    </span>
            </div>
        </div>


        <div class="row">
            <button type="submit" class="btn-sm btn-primary offset-7" th:text="*{id} == null ? 'Save' : 'Update'">Save</button>
        </div>
        <br><br>


    </form>

</div>
</body>
</html>