<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link th:href="@{/css/bootstrap-4.5.0-dist/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/js/jquery-1.7.2.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>

    <title th:text="#{albumInfo}">Album info</title>
</head>
<body>

    <div class="container" th:replace="fragments/menu :: menu">
        <p>menu</p>
    </div>

<div class="container">

    <br>

    <h3 class="font-weight-bold text-secondary" th:text="#{albums}">Albums</h3>

    <hr>

    <div th:object="${internalDispatch}">

        <div class="row px-3">
            <div class="col-sm-3 border bg-light">
                <h6 class="font-weight-bold pull-right m-1" th:text="#{albumDecimalNumber} + ':'">Album decimal number:</h6>
            </div>
            <div class="col-sm-2 border bg-light">
                <h6 class="m-1" th:text="*{albumName}"></h6>
            </div>
        </div>

        <div class="row px-3">
            <div class="col-sm-3 border bg-light">
                <h6 class="font-weight-bold pull-right m-1" th:text="#{stamp} + ':'">Stamp:</h6>
            </div>
            <div class="col-sm-2 border bg-light">
                <h6 class="m-1" th:text="*{stamp}"></h6>
            </div>
        </div>

        <div class="row px-3">
            <div class="col-sm-3 border bg-light">
                <h6 class="font-weight-bold pull-right m-1" th:text="#{dispatchDate} + ':'">Dispatch date:</h6>
            </div>
            <div class="col-sm-2 border bg-light">
                <h6 class="m-1" th:text="*{dispatchDate}"></h6>
            </div>
        </div>

        <div class="row px-3">
            <div class="col-sm-3 border bg-light">
                <h6 class="font-weight-bold pull-right m-1" th:text="#{currentHandler} + ':'">Current handler:</h6>
            </div>
            <div class="col-sm-2 border bg-light column-height-30px">
                <a class="btn btn-link pl-1 mt-n1" th:if="*{dispatchHandler != null}" th:href="@{'/departments/showDepartmentInfo/' + ${internalDispatch.dispatchHandler.id}}" th:target="_blank" th:text="*{dispatchHandler.name}"></a>
            </div>
        </div>

        <div class="row px-3">
            <div class="col-sm-3 border bg-light">
                <h6 class="font-weight-bold pull-right m-1" th:text="#{handlerName} + ':'">Handler name:</h6>
            </div>
            <div class="col-sm-2 border bg-light">
                <h6 class="m-1" th:text="*{internalHandlerName}"></h6>
            </div>
        </div>

        <div class="row px-3">
            <div class="col-sm-3 border bg-light">
                <h6 class="font-weight-bold pull-right m-1" th:text="#{handlerPhoneNumber} + ':'">Handler phone number:</h6>
            </div>
            <div class="col-sm-2 border bg-light">
                <h6 class="m-1" th:text="*{internalHandlerPhoneNumber}"></h6>
            </div>
        </div>

        <div class="row px-3">
            <div class="col-sm-3 border bg-light">
                <h6 class="font-weight-bold pull-right m-1" th:text="#{receivedDate} + ':'">Received date:</h6>
            </div>
            <div class="col-sm-2 border bg-light">
                <h6 class="m-1" th:text="*{receivedInternalDate}"></h6>
            </div>
        </div>
    </div>

    <br><br>

    <p class="h4 mb-4" th:text="#{albumDocuments}">Album documents:</p>

    <div th:if="${internalDispatch.documents == null || internalDispatch.documents.size() == 0}">
        <h2 th:text="#{noDocuments}">No documents</h2>
    </div>

    <div th:if="${internalDispatch.documents != null && internalDispatch.documents.size() != 0}">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark text-center">
                <th class="align-middle" th:text="#{decimalNumber}">Decimal number</th>
                <th class="align-middle" th:text="#{name}">Name</th>
                <th class="align-middle" th:text="#{showDocument}">Show document</th>
            </thead>
            <tbody>
                <tr th:each="tempDocument : ${internalDispatch.documents}">
                    <td class="align-middle">
                        <a th:href="@{'/documents/showDocumentInfo/' + ${tempDocument.key.id}}" th:target="_blank" th:text="${tempDocument.key.decimalNumber}"></a>
                    </td>
                    <td class="align-middle" th:text="${tempDocument.key.name}"></td>
                    <td class="align-middle text-center">
                        <a href="file:///C:/ARCHIV_22_N/PODL/VUIA/301411/068/SP/" class="btn btn-sm btn-success"><i class="fa fa-binoculars"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>