<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link th:href="@{/css/bootstrap-4.5.0-dist/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/static/js/jquery.min.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

    <title>Internal Dispatch Info</title>
</head>
<body>
<div class="container">
    <a th:href="@{/internaldispatches/list}">Back to Internal dispatches list</a>
    <br><br>

    <h3>Internal Dispatch Directory</h3>
    <hr>

    <div th:object="${internalDispatchTo}">

        <div class="row">
            <div class="col-sm-2">

            </div>
            <div class="col-sm-3 text-right">
                <a th:href="@{'/internaldispatches/showFormForUpdate/' + ${internalDispatchTo.id}}" class="btn btn-sm btn-outline-info mb-1">Update</a>
                <a th:href="@{'/internaldispatches/delete/' + ${internalDispatchTo.id}}" class="btn btn-sm btn-outline-danger mb-1"
                   onclick="if (!(confirm('Are you sure?'))) return false">Delete</a>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2 border">
                <h6>Album name:</h6>
            </div>
            <div class="col-sm-3 border">
                <h6 th:text="*{albumName}"></h6>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2 border">
                <h6>Waybill:</h6>
            </div>
            <div class="col-sm-3 border">
                <h6 th:text="*{waybill}"></h6>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2 border">
                <h6>Dispatch date:</h6>
            </div>
            <div class="col-sm-3 border">
                <h6 th:text="*{dispatchDate}"></h6>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2 border">
                <h6>Status:</h6>
            </div>
            <div class="col-sm-3 border">
                <h6 th:text="*{status}"></h6>
            </div>
        </div>

        <div class="row" th:if="*{remark != null}">
            <div class="col-sm-2 border">
                <h6>Remark:</h6>
            </div>
            <div class="col-sm-3 border">
                <h6 th:text="*{remark}"></h6>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2 border">
                <h6>Stamp:</h6>
            </div>
            <div class="col-sm-3 border">
                <h6 th:text="*{stamp}"></h6>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2 border">
                <h6>Dispatch handler:</h6>
            </div>
            <div class="col-sm-3 border">
                <h6 th:text="*{dispatchHandler.name}"></h6>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2 border">
                <h6>Received date:</h6>
            </div>
            <div class="col-sm-3 border">
                <h6 th:text="*{receivedInternalDate}"></h6>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2 border">
                <h6>Internal handler name:</h6>
            </div>
            <div class="col-sm-3 border">
                <h6 th:text="*{internalHandlerName}"></h6>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2 border">
                <h6>Internal handler phone number:</h6>
            </div>
            <div class="col-sm-3 border">
                <h6 th:text="*{internalHandlerPhoneNumber}"></h6>
            </div>
        </div>

    </div>

    <br><br>


    <p class="h4 mb-4">Internal dispatch documents:</p>

    <form th:action="@{/internaldispatches/addDocument}" th:object="${internalDispatchTo}" method="post">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{waybill}">
        <input type="hidden" th:field="*{dispatchDate}">
        <input type="hidden" th:field="*{status}">
        <input type="hidden" th:field="*{remark}">
        <input type="hidden" th:field="*{stamp}">
        <input type="hidden" th:field="*{stamp}">
        <input type="hidden" th:field="*{dispatchHandler}">
        <input type="hidden" th:field="*{receivedInternalDate}">
        <input type="hidden" th:field="*{internalHandlerName}">
        <input type="hidden" th:field="*{internalHandlerPhoneNumber}">
        <input type="hidden" th:field="*{isAlbum}">
        <input type="hidden" th:field="*{albumName}">
        <input type="hidden" th:field="*{documents}">

        <div class="form-group">
            <div class="col-sm-5">
                <input type="text" placeholder="Document decimal number" th:class="${#fields.hasErrors('tempDocumentDecimalNumber')} ? 'form-control is-invalid' : 'form-control'" th:field="*{tempDocumentDecimalNumber}"/>
                <span class="help-block" th:if="${#fields.hasErrors('tempDocumentDecimalNumber')}">
                        <ul>
                            <li class="text-danger" th:each="err : ${#fields.errors('tempDocumentDecimalNumber')}" th:text="${err}"/>
                        </ul>
                    </span>
            </div>
        </div>

        <button type="submit" class="btn btn-primary btn-sm mb-3">Add document</button>
    </form>

    <div th:if="${internalDispatchTo.documents == null || internalDispatchTo.documents.size() == 0}">
        <h2>No documents</h2>
    </div>

    <div th:if="${internalDispatchTo.documents != null && internalDispatchTo.documents.size() != 0}">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark text-center">
            <th class="align-middle">Decimal number</th>
            <th class="align-middle">Name</th>
            <th class="align-middle">Action</th>
            </thead>
            <tbody>
            <tr th:each="tempDocument : ${internalDispatchTo.documents}">
                <td class="align-middle" th:text="${tempDocument.decimalNumber}"></td>
                <td class="align-middle" th:text="${tempDocument.name}"></td>
                <td class="align-middle">
                    <a class="btn btn-sm btn-outline-danger"
                       th:href="@{'/internaldispatches/removeDoc/' + ${internalDispatchTo.id} + '/' + ${tempDocument.decimalNumber}}" onclick="if (!(confirm('Are you sure?'))) return false">Remove</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="text-danger" th:if="${errorMessage != null}">
        <h5 th:text="${errorMessage}"></h5>
    </div>

</div>
</body>
</html>