<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">

    <link th:href="@{/css/bootstrap-4.5.0-dist/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/js/jquery-1.7.2.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>

    <title th:text="#{internaldispatches.headline}">Internal Dispatch List</title>
</head>
<body>

    <div class="container" th:replace="fragments/menu :: menu">
        <p>menu</p>
    </div>

<div class="container">

    <br>

    <h3 class="font-weight-bold text-secondary" th:text="#{index.section.internaldispatches}">Internal dispatches</h3>

    <hr>


    <a th:href="@{/internaldispatches/showAddForm}" class="btn btn-primary btn-sm mb-3" th:text="#{internaldispatches.addNew}" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_OTD_WORKER')">Add Internal Dispatch</a>

    <table class="table table-bordered table-hover">
        <thead class="thead-dark text-center">
            <tr>
                <th class="align-middle"><a class="sorted text-light" sd:pagination-sort="waybill" th:text="#{waybill}">Waybill</a></th>
                <th class="align-middle"><a class="sorted text-light" sd:pagination-sort="dispatchDate" th:text="#{dispatchDate}">Dispatch date</a></th>
                <th class="align-middle" th:text="#{dispatchType}">Dispatch type</th>
                <th class="align-middle"><a class="sorted text-light" sd:pagination-sort="stamp" th:text="#{stamp}">Stamp</a></th>
                <th class="align-middle"><a class="sorted text-light" sd:pagination-sort="dispatchHandler" th:text="#{addressee}">Addressee</a></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="tempInternal : ${internalDispatches}">
                <td class="align-middle text-center">
                    <a th:href="@{'/internaldispatches/showInternalDispatchInfo/' + ${tempInternal.id}}" th:text="${tempInternal.waybill}"></a>
                </td>
                <td class="align-middle text-center" th:text="${tempInternal.dispatchDate}"></td>
                <td class="align-middle text-center" th:text="${tempInternal.isAlbum == true} ? #{album} + ' (' + ${tempInternal.albumName} + ')' : #{scattered}"></td>
                <td class="align-middle text-center" th:text="${tempInternal.stamp}"></td>
                <td class="align-middle text-center">
                    <a th:if="${tempInternal.dispatchHandler != null}" th:href="@{'/departments/showDepartmentInfo/' + ${tempInternal.dispatchHandler.id}}" th:target="_blank" th:text="${tempInternal.dispatchHandler.name}"></a>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="row mb-3">
        <div class="col-sm-6">
            <span th:text="#{showEntries}"></span> <span sd:page-size-selector="javascript"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div sd:pagination-summary="">info</div>
        </div>
        <div class="col-sm-6">
            <nav class="pull-right">
                <ul class="pagination" sd:pagination-split="5" sd:pagination="full">
                    <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
</html>