<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link th:href="@{/css/bootstrap-4.5.0-dist/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/js/jquery-1.7.2.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>

    <title th:text="#{changeHandler}">Change handler</title>
</head>
<body>

    <div class="container" th:replace="fragments/menu :: menu">
        <p>menu</p>
    </div>


<div class="container">

    <br>

    <h3 class="font-weight-bold text-secondary" th:text="#{albums}">Albums</h3>

    <hr>

    <p class="h4 mb-3 offset-sm-3" th:text="#{albumHandlerInfo}">Album handler info</p>

    <form class="form-horizontal" th:object="${internalDispatch}" th:action="@{/internaldispatches/changeHandler}" method="post">

        <div th:if="${#fields.hasErrors('*')}" class="text-danger h5 offset-sm-2">
            <p th:text="#{pleaseCorrectValues}">Error Message</p>
        </div>

        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{isAlbum}">
        <input type="hidden" th:field="*{albumName}">
        <input type="hidden" th:field="*{waybill}">
        <input type="hidden" th:field="*{dispatchDate}">
        <input type="hidden" th:field="*{status}">
        <input type="hidden" th:field="*{remark}">
        <input type="hidden" th:field="*{stamp}">
        <input type="hidden" th:field="*{isActive}">

        <div class="row mb-3">
            <div class="col-sm-3 form-control-plaintext offset-sm-1">
                <h6 th:text="#{dispatchHandler} + ':'">Dispatch handler:</h6>
            </div>
            <div class="col-sm-5">
                <select class="form-control selectpicker" th:field="*{dispatchHandler}">
                    <option value="" th:text="#{nothingSelected}">Nothing selected</option>
                    <option th:each="dropValue : ${departments}"
                            th:value="${dropValue.name}"
                            th:text="${dropValue.name}">
                    </option>
                </select>
                <span class="help-block" th:if="${#fields.hasErrors('dispatchHandler')}">
                    <ul>
                        <li class="text-danger" th:each="err : ${#fields.errors('dispatchHandler')}" th:text="${err}"/>
                    </ul>
                </span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-3 form-control-plaintext offset-sm-1">
                <h6 th:text="#{internalHandlerName} + ':'">Internal handler name:</h6>
            </div>
            <div class="col-sm-5">
                <input type="text" th:field="*{internalHandlerName}" th:class="${#fields.hasErrors('internalHandlerName')} ? 'form-control is-invalid' : 'form-control'" th:placeholder="'Internal handler name'"/>
                <span class="help-block" th:if="${#fields.hasErrors('internalHandlerName')}">
                    <ul>
                        <li class="text-danger" th:each="err : ${#fields.errors('internalHandlerName')}" th:text="${err}"/>
                    </ul>
                </span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-3 form-control-plaintext offset-sm-1">
                <h6 th:text="#{internalHandlerPhoneNumber} + ':'">Internal handler phone number:</h6>
            </div>
            <div class="col-sm-5">
                <input type="text" th:field="*{internalHandlerPhoneNumber}" th:class="${#fields.hasErrors('internalHandlerPhoneNumber')} ? 'form-control is-invalid' : 'form-control'" th:placeholder="'Internal handler phone number'"/>
                <span class="help-block" th:if="${#fields.hasErrors('internalHandlerPhoneNumber')}">
                    <ul>
                        <li class="text-danger" th:each="err : ${#fields.errors('internalHandlerPhoneNumber')}" th:text="${err}"/>
                    </ul>
                </span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-3 form-control-plaintext offset-sm-1">
                <h6 th:text="#{receivedDate} + ':'">Received date:</h6>
            </div>
            <div class="col-sm-5">
                <input type="date" th:field="*{receivedInternalDate}" th:class="${#fields.hasErrors('receivedInternalDate')} ? 'form-control is-invalid' : 'form-control'"/>
                <span class="help-block" th:if="${#fields.hasErrors('receivedInternalDate')}">
                    <ul>
                        <li class="text-danger" th:each="err : ${#fields.errors('receivedInternalDate')}" th:text="${err}"/>
                    </ul>
                </span>
            </div>
        </div>

        <div class="row">
            <button type="submit" class="btn-sm btn-primary offset-8" th:text="#{update}">Update</button>
        </div>

        <br><br>

    </form>
</div>
</body>
</html>