<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">

    <link th:href="@{/css/bootstrap-4.5.0-dist/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>

<!--    <script th:src="@{/js/jquery-1.7.2.js}"></script>-->

<!--    <script th:src="@{/js/pwstrength.js}"></script>-->

    <title>$Title$</title>
</head>
<body>



<div class="container" th:fragment="menu">

    <a class="h6 font-weight-bold" th:href="@{/}" th:text="#{backToHomePage}" href="#">Home</a>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="#" th:href="@{/documents/list}" th:text="#{documents}">Documents <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#" th:href="@{/changenotices/list}" th:text="#{changeNotices}">Changes</a>
                <a class="nav-item nav-link" href="#" th:href="@{/externaldispatches/list}" th:text="#{externalDispatches}">Externals</a>
                <a class="nav-item nav-link" href="#" th:href="@{/internaldispatches/list}" th:text="#{internalDispatches}">Internals</a>
                <a class="nav-item nav-link" href="#" th:href="@{/departments/list}" th:text="#{index.section.departments}">Departments</a>
                <a class="nav-item nav-link" href="#" th:href="@{/companies/list}" th:text="#{index.section.companies}">Companies</a>
                <a class="nav-item nav-link" href="#" th:href="@{/internaldispatches/list/albums}" th:text="#{index.section.copiesArchive}">Albums</a>
                <a class="nav-item nav-link" href="#" th:href="@{/users/list}" th:text="#{users}" sec:authorize="hasRole('ROLE_ADMIN')">Users</a>
            </div>
        </div>

        <ul class="nav-item dropdown pull-right">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${#authentication.name}">
                Dropdown link
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#" th:href="@{'/users/showUserInfoByEmail/' + ${#authentication.name}}" th:text="#{userInfo}">User info</a>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="dropdown-item" th:text="#{logout}">Logout</button>
                </form>
            </div>
        </ul>
    </nav>

    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/css/bootstrap-4.5.0-dist/js/bootstrap.bundle.js}"></script>
    <!--        <script th:src="@{/js/jquery-1.7.2.js}"></script>-->
        <script th:src="@{/js/pwstrength.js}"></script>


</div>

</body>
</html>