<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">

    <link th:href="@{/css/bootstrap-4.5.0-dist/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>

    <script th:src="@{/js/jquery-1.7.2.js}"></script>

    <script th:src="@{/js/pwstrength.js}"></script>

    <title th:text="#{changePassword}">Change Password</title>
</head>
<body>

    <div class="container" th:replace="fragments/menu :: menu">
        <p>menu</p>
    </div>

<div class="container">
    <br><br>
    <h1 class="offset-3 px-3" th:text="#{changePassword}">Change Password</h1>
    <br />

    <form th:action="@{'/users/changePasswordForUser/' + ${email}}" action="#" method="post" class="form-horizontal">
        <div th:if="${notMatches}" th:text="#{notMatches}" class="alert alert-danger col-sm-5 offset-3 text-center">Passwords do not match</div>

        <div class="row mb-3">
            <div class="col-sm-2 form-control-plaintext offset-sm-1">
                <h6 th:text="#{password} + ':'" class="pull-right">Password:</h6>
            </div>
            <div class="col-sm-5">
                <input id="password" type="password" name="password" class="form-control" th:placeholder="#{password}"/>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-2 form-control-plaintext offset-sm-1">
                <h6 th:text="#{passwordConfirmation} + ':'" class="pull-right">Password confirmation:</h6>
            </div>
            <div class="col-sm-5">
                <input id="passwordConfirmation" type="password" name="passwordConfirmation" class="form-control" th:placeholder="#{passwordConfirmation}"/>
            </div>
        </div>





<!--        <input id="id" type="hidden" name="id" th:value="${id}" />-->
        <div class="row">
            <button type="submit" class="btn-sm btn-primary offset-6" th:text="#{changePassword}">Change password</button>
        </div>
    </form>

</div>

<script type="text/javascript">
    $(document)
        .ready(
            function() {
                options = {
                    common : {
                        minChar : 4
                    },
                    ui : {
                        showVerdictsInsideProgressBar : true,
                        showErrors : true,
                        errorMessages : {
                            wordLength : 'Your password is too short',
                            wordNotEmail : 'Do not use your email as your password'
                            // wordSequences : 'Your password contains sequences',
                            // wordLowercase : 'Use lower case characters',
                            // wordUppercase : 'Use upper case characters',
                            // wordOneNumber : 'Use numbers',
                            // wordOneSpecialChar : 'Use special characters: [~!@#$%^&amp;*,_?]'
                        }
                    }
                };
                $('#password').pwstrength(options);
            });
</script>
</body>
</html>