<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">

    <link th:href="@{/css/bootstrap-4.5.0-dist/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/js/jquery-1.7.2.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>

    <title th:text="#{departmentInfo}">Department Info</title>
</head>
<body>

    <div class="container" th:replace="fragments/menu :: menu">
        <p>menu</p>
    </div>

    <div class="container">

        <br>

        <h3 class="font-weight-bold text-secondary" th:text="#{index.section.departments}">Departments</h3>

        <hr>

        <p class="h4 mb-4" th:text="${department.name} + ' ' + #{information}"></p>

        <div th:object="${department}">

            <div class="row px-3">
                <div class="col-sm-3 border bg-light">
                    <h6 class="font-weight-bold pull-right m-1" th:text="#{name} + ':'">Name:</h6>
                </div>
                <div class="col-sm-4 border bg-light">
                    <h6 class="m-1" th:text="*{name}"></h6>
                </div>
            </div>

            <div class="row px-3">
                <div class="col-sm-3 border bg-light">
                    <h6 class="font-weight-bold pull-right m-1" th:text="#{chief} + ':'">Chief name:</h6>
                </div>
                <div class="col-sm-4 border bg-light">
                    <h6 class="m-1" th:text="*{chiefName}"></h6>
                </div>
            </div>

            <div class="row px-3">
                <div class="col-sm-3 border bg-light">
                    <h6 class="font-weight-bold pull-right m-1" th:text="#{workersAmount} + ':'">Workers amount:</h6>
                </div>
                <div class="col-sm-4 border bg-light">
                    <h6 class="m-1" th:text="*{workersAmount}"></h6>
                </div>
            </div>

            <div class="row px-3 mb-1">
                <div class="col-sm-3 border bg-light">
                    <h6 class="font-weight-bold pull-right m-1" th:text="#{description} + ':'">Description:</h6>
                </div>
                <div class="col-sm-4 text-break border bg-light">
                    <h6 class="m-1" th:text="*{description}"></h6>
                </div>
            </div>

            <div class="row px-5" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_OTD_WORKER')">
                <div class="col-sm-3">

                </div>
                <div class="col-sm-4 text-right">
                    <a th:href="@{'/departments/showFormForUpdate/' + ${department.id}}" class="badge badge-info mb-1 width-60px" th:text="#{update}">Update</a>
                    <a th:href="@{'/departments/delete/' + ${department.id}}" class="badge badge-danger mb-1 width-60px"
                       onclick="if (!(confirm('Are you sure?'))) return false" th:text="#{delete}">Delete</a>
                </div>
            </div>

        </div>
    </div>
</body>
</html>