<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link th:href="@{/css/bootstrap-4.5.0-dist/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/js/jquery-1.7.2.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>

    <title>Access denied</title>
</head>
<body>
    <div class="container" th:replace="fragments/menu :: menu">
        <p>menu</p>
    </div>

    <br><br>

    <div class="container">
        <p class="text-danger h5" th:text="#{accessDeniedMessage}">Access denied message</p>
    </div>

</body>
</html>