<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">

    <meta charset="UTF-8">

    <link th:href="@{/css/bootstrap-4.5.0-dist/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>

    <script th:src="@{/js/jquery-1.7.2.js}"></script>


    <title th:text="#{index.page.title}"></title>

    <style>
        .row li {
            width: 33.3%;
            float: left;
        }

        img {
            border: 0 none;
            display: inline-block;
            height: auto;
            max-width: 100%;
            vertical-align: middle;
        }

    </style>


</head>
<body>

<div class="container">

    <nav class="navbar navbar-expand navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <ul class="nav-item dropdown ml-auto">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${#authentication.name}">
                Dropdown link
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#" th:href="@{'/users/showUserInfoByEmail/' + ${#authentication.name}}" th:text="#{userInfo}">User info</a>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="dropdown-item" th:text="#{logout}">Logout</button>
                </form>
            </div>
        </ul>
    </nav>

    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/css/bootstrap-4.5.0-dist/js/bootstrap.bundle.js}"></script>
    <script th:src="@{/js/jquery-1.7.2.js}"></script>


</div>

    <div class="container">

        <div class="row mb-5">
            <div class="col-md-12">
                <h2 class="font-weight-bold text-center" th:text="#{index.headline}">NTC "NIEMI" File Cabinet</h2>
            </div>
        </div>

        <div class="row mb-2">

            <div class="col-md-4">
                <a th:href="@{/documents/list}">
                    <img th:src="@{/images/documents.png}"/>
                    <h4 class="text-center" th:text="#{index.section.documents}">Documents</h4>
                </a>
            </div>

            <div class="col-md-4">
                <a th:href="@{/departments/list}">
                    <img th:src="@{/images/developers.png}"/>
                    <h4 class="text-center" th:text="#{index.section.departments}">Departments</h4>
                </a>
            </div>


            <div class="col-md-4">
                <a th:href="@{/changenotices/list}">
                    <img th:src="@{/images/changenotices.png}"/>
                    <h4 class="text-center" th:text="#{index.section.changenotices}">Change notices</h4>
                </a>
            </div>
        </div>


        <div class="row">
            <div class="col-md-4">
                <a th:href="@{/externaldispatches/list}">
                    <img th:src="@{/images/externals.png}"/>
                    <h4 class="text-center" th:text="#{index.section.externaldispatches}">External dispatches</h4>
                </a>
            </div>

            <div class="col-md-4">
                <a th:href="@{/companies/list}">
                    <img th:src="@{/images/companies.png}"/>
                    <h4 class="text-center" th:text="#{index.section.companies}">Companies</h4>
                </a>
            </div>

            <div class="col-md-4">
                <a th:href="@{/internaldispatches/list}">
                    <img th:src="@{/images/internals.png}"/>
                    <h4 class="text-center" th:text="#{index.section.internaldispatches}">Internal dispatches</h4>
                </a>
            </div>
        </div>


        <div class="row">
            <div class="col-md-4">
                <a th:href="@{/users/list}" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_OTD_WORKER')">
                    <img th:src="@{/images/users.png}"/>
                    <h4 class="text-center" th:text="#{users}">Users</h4>
                </a>
            </div>

            <div class="col-md-4">
                <a th:href="@{/internaldispatches/list/albums}">
                    <img th:src="@{/images/archive.png}"/>
                    <h4 class="text-center" th:text="#{index.section.copiesArchive}">Copies Archive</h4>
                </a>
            </div>

            <div class="col-md-4">

            </div>
        </div>


    </div>

</body>
</html>