<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <link th:href="@{/css/bootstrap-4.5.0-dist/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>

    <title th:text="#{loginPage}">Login Page</title>

</head>
<body>

<div class="container">
    <h1 th:text="#{loginPage}">Login page</h1>

    <div th:if="${param.error}" class="alert alert-danger" th:text="#{invalidNameAndPass}">Invalid username and password.</div>
    <div th:if="${message}" th:text="${message}" class="alert alert-success">Message</div>
    <div th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-danger">Error Message</div>
    <div th:if="${param.logout}" class="alert alert-danger" th:text="#{loggedOut}">You have been logged out.</div>


    <form th:action="@{/goLogin}" method="post" class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-xs-2" for="username" th:text="#{email} + ':'"> Email: </label>

            <div class="col-xs-10">
                <input id="username" type="text" name="username"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2" for="password" th:text="#{password} + ':'"> Password: </label>

            <div class="col-xs-10">
                <input id="password" type="password" name="password"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2" for="remember" th:text="#{rememberMe}"> Remember Me? </label>
            <div class="col-xs-10">
                <input id="remember" type="checkbox" name="remember" value="true" />
            </div>
        </div>
        <div class="form-actions col-xs-offset-2 col-xs-10">
            <button type="submit" class="btn btn-primary" th:text="#{signIn}"/>
            <a th:href="@{/signup}" class="btn btn-secondary" th:text="#{signUp}">Sign Up</a>
            <br><br>
            <a th:href="@{/forgotPassword}" th:text="#{resetPassword}">Reset Password</a>

        </div>
    </form>
</div>

</body>
</html>