<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="UTF-8">

    <link th:href="@{/css/bootstrap-4.5.0-dist/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>

    <script th:src="@{/js/jquery-1.7.2.js}"></script>

    <script th:src="@{/js/pwstrength.js}"></script>

    <title>Registration Page</title>
</head>
<body>
<div class="container">
    <h1>Registration page</h1>
    <br><br>
    <form id="userForm" th:action="@{/user/register}" th:object="${user}" action="#" method="post" class="form-horizontal">
        <div th:if="${#fields.hasErrors('global')}" th:errors="*{global}" class="alert alert-danger">Incorrect password confirmation</div>
        <input type="hidden" th:field="*{id}"/>

        <div class="row mb-3">
            <div class="col-sm-2 form-control-plaintext">
                <p class="h6 pull-right">Email:</p>
            </div>
            <div class="col-sm-5">
                <input type="text" th:field="*{email}" th:class="${#fields.hasErrors('email')} ? 'form-control is-invalid' : 'form-control'" placeholder="Email"/>
                <span class="help-block" th:if="${#fields.hasErrors('email')}">
                        <ul>
                            <li class="text-danger" th:each="err : ${#fields.errors('email')}" th:text="${err}"/>
                        </ul>
                    </span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-2 form-control-plaintext">
                <p class="h6 pull-right">Password:</p>
            </div>
            <div class="col-sm-5">
                <input type="password" th:field="*{password}" th:class="${#fields.hasErrors('password')} ? 'form-control is-invalid' : 'form-control'" placeholder="Password"/>
                <span class="help-block" th:if="${#fields.hasErrors('password')}">
                        <ul>
                            <li class="text-danger" th:each="err : ${#fields.errors('password')}" th:text="${err}"/>
                        </ul>
                    </span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-2 form-control-plaintext">
                <p class="h6 pull-right">Password confirmation:</p>
            </div>
            <div class="col-sm-5">
                <input type="password" th:field="*{passwordConfirmation}" th:class="${#fields.hasErrors('passwordConfirmation')} ? 'form-control is-invalid' : 'form-control'" placeholder="Password confirmation"/>
                <span class="help-block" th:if="${#fields.hasErrors('passwordConfirmation')}">
                        <ul>
                            <li class="text-danger" th:each="err : ${#fields.errors('passwordConfirmation')}" th:text="${err}"/>
                        </ul>
                    </span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-2 form-control-plaintext">
                <p class="h6 pull-right">Security Question:</p>
            </div>
            <div class="col-sm-5">
                <select class="form-control selectpicker" id="question" name="questionId">
                    <option th:each="question : ${questions}"
                            th:value="${question.id}"
                            th:text="${question.text}"
                            th:selected="${question.id == questionId}">
                    </option>
                </select>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-2 form-control-plaintext">
                <p class="h6 pull-right">Answer:</p>
            </div>
            <div class="col-sm-5">
                <input class="form-control" id="answer" type="text" name="answer" th:value="${answer}" placeholder="Answer"/>
            </div>
        </div>

        <div class="form-actions col-xs-offset-2 col-xs-10">
            <input type="submit" class="btn btn-primary" value="Register"/>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(document)
        .ready(
            function() {
                options = {
                    common : {
                        minChar : 8
                    },
                    ui : {
                        showVerdictsInsideProgressBar : true,
                        showErrors : true,
                        errorMessages : {
                            wordLength : 'Your password is too short',
                            wordNotEmail : 'Do not use your email as your password',
                            wordSequences : 'Your password contains sequences',
                            wordLowercase : 'Use lower case characters',
                            wordUppercase : 'Use upper case characters',
                            wordOneNumber : 'Use numbers',
                            wordOneSpecialChar : 'Use special characters: [~!@#$%^&amp;*,_?]'
                        }
                    }
                };
                $('#password').pwstrength(options);
            });
</script>

</body>
</html>