<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="UTF-8">

	<link th:href="@{/css/bootstrap-4.5.0-dist/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

	<link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

	<link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>

<title th:text="#{resetPassword}">Reset password</title>
</head>
<body>
	<div class="container">
		<br><br>
		<h1 class="offset-3 px-3" th:text="#{resetPassword}">Reset Password</h1>
		<br />
		<div th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-danger">Error Message</div>

		<form th:action="@{/users/resetPassword}" method="post" class="form-horizontal">
			<div class="row">
				<label class="col-sm-1 h5 offset-2" for="email">Email:</label>
				<span class="col-sm-5">
					<input class="form-control" id="email" name="email" type="email" th:placeholder="#{email}"/>
				</span>
				<button class="btn btn-primary" type="submit" th:text="#{resetPassword}">Reset Password</button>
			</div>
		</form>

		<br />
		<a class="btn btn-primary offset-2" th:href="@{/login}" th:text="#{signIn}">Sign In</a>
	</div>
</body>
</html>