<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link th:href="@{/css/bootstrap-4.5.0-dist/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/js/jquery-2.1.4.min.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

    <title>Add change notice</title>
</head>
<body>
    <div class="container">

        <h3 th:text="'Document Directory: ' + ${documentTo.decimalNumber}"></h3>

        <form class="form-horizontal" th:action="@{/documents/addChangeNotice}" th:object="${documentTo}" method="post">
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{name}">
            <input type="hidden" th:field="*{decimalNumber}">
            <input type="hidden" th:field="*{inventoryNumber}">
            <input type="hidden" th:field="*{stage}">
            <input type="hidden" th:field="*{developerName}">
            <input type="hidden" th:field="*{changeNoticesNames}">

            <div class="form-group">
                <div class="col-sm-5">
                    <input type="text" placeholder="Change notice name" th:class="${#fields.hasErrors('tempChangeNoticeName')} ? 'form-control is-invalid' : 'form-control'" th:field="*{tempChangeNoticeName}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('tempChangeNoticeName')}">
                        <ul>
                            <li class="text-danger" th:each="err : ${#fields.errors('tempChangeNoticeName')}" th:text="${err}"/>
                        </ul>
                    </span>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-sm btn-info">Add change notice</button>
            </div>


        </form>

        <br><br>

        <form th:action="@{/documents/save}" th:object="${documentTo}" method="post">
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{name}">
            <input type="hidden" th:field="*{decimalNumber}">
            <input type="hidden" th:field="*{inventoryNumber}">
            <input type="hidden" th:field="*{stage}">
            <input type="hidden" th:field="*{developerName}">

            <div class="form-group">
                <label class="col-sm-2 control-label">Change notices:</label>
                <div class="col-sm-10">
                    <div class="form-check form-check-inline">
                        <p th:each="checkBox : ${documentTo.changeNoticesNames}">
                            <input type="checkbox" th:field="*{changeNoticesNames}" th:value="${checkBox}"/>
                            <label class="btn btn-secondary" th:for="${#ids.prev('changeNoticesNames')}" th:text="${checkBox}"></label>
                        </p>
                        <span class="help-block" th:if="${#fields.hasErrors('changeNoticesNames')}">
                            <ul>
                                <li class="text-danger" th:each="err : ${#fields.errors('changeNoticesNames')}" th:text="${err}"/>
                            </ul>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <button type="submit" class="btn btn-info col-2 offset-1">Save</button>
            </div>
        </form>







    </div>
</body>
</html>