<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link th:href="@{/css/bootstrap-4.5.0-dist/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/static/js/jquery.min.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>

    <title>Document Info</title>
</head>
<body>

    <div class="container">

        <a th:href="@{/documents/list}">Back to Documents list</a>

        <br><br>

        <h3>Document Directory</h3>

        <hr>

        <p class="h4 mb-4">Document information</p>

        <div th:object="${documentTo}">

            <div class="row">
                <div class="col-sm-2 border">
                    <h6 >Decimal number:</h6>
                </div>
                <div class="col-sm-3 border">
                    <h6 th:text="*{decimalNumber}"></h6>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 border">
                    <h6>Name:</h6>
                </div>
                <div class="col-sm-3 border">
                    <h6 th:text="*{name}"></h6>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 border">
                    <h6>Inventory number:</h6>
                </div>
                <div class="col-sm-3 border">
                    <h6 th:text="*{inventoryNumber}"></h6>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 border">
                    <h6>Receipt date:</h6>
                </div>
                <div class="col-sm-3 border">
                    <h6 th:text="*{receiptDate}"></h6>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 border">
                    <h6>Status:</h6>
                </div>
                <div class="col-sm-3 border">
                    <h6 th:text="*{status.name}"></h6>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 border">
                    <h6>Change number:</h6>
                </div>
                <div class="col-sm-3 border">
                    <h6 th:text="*{changeNumber}"></h6>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 border">
                    <h6>Stage:</h6>
                </div>
                <div class="col-sm-3 border">
                    <h6 th:text="*{stage}"></h6>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 border">
                    <h6>Developer:</h6>
                </div>
                <div class="col-sm-3 border">
                    <h6 th:text="${documentTo.developer == null} ? '' : ${documentTo.developer.name}"></h6>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 border">
                    <h6>Original holder:</h6>
                </div>
                <div class="col-sm-3 border">
                    <h6 th:text="*{originalHolder.name}"></h6>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 border">
                    <h6>Form:</h6>
                </div>
                <div class="col-sm-3 border">
                    <h6 th:text="*{form.name}"></h6>
                </div>
            </div>

            <div class="row" th:if="${documentTo.form.name() == 'PAPER'}">
                <div class="col-sm-2 border">
                    <h6>Format:</h6>
                </div>
                <div class="col-sm-3 border">
                    <h6 th:text="*{format}"></h6>
                </div>
            </div>

            <div class="row" th:if="${documentTo.form.name() == 'PAPER'}">
                <div class="col-sm-2 border">
                    <h6>Sheets amount:</h6>
                </div>
                <div class="col-sm-3 border">
                    <h6 th:text="*{sheetsAmount}"></h6>
                </div>
            </div>


            <div class="row" th:if="${documentTo.form.name() == 'PAPER'}">
                <div class="col-sm-2 border">
                    <h6>A4 amount:</h6>
                </div>
                <div class="col-sm-3 border">
                    <h6 th:text="*{a4Amount}"></h6>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 border">
                    <h6>Changes:</h6>
                </div>
                <div class="col-sm-3 border">
                    <a th:href="@{'/documents/showChanges/' + ${documentTo.id}}">
                        Show changes
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 border">
                    <h6>Applicabilities:</h6>
                </div>
                <div class="col-sm-3 border">
                    <a th:href="@{'/documents/showApplicabilities/' + ${documentTo.id}}">
                        Show applicabilities
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 border">
                    <h6>External dispatches:</h6>
                </div>
                <div class="col-sm-3 border">
                    <a th:href="@{'/documents/showExternalDispatches/' + ${documentTo.id}}">
                        Show externals
                    </a>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-sm-2 border">
                    <h6>Internal dispatches:</h6>
                </div>
                <div class="col-sm-3 border">
                    <a th:href="@{'/documents/showInternalDispatches/' + ${documentTo.id}}">
                        Show internals
                    </a>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-sm-4 offset-1 text-right">
                    <a th:href="@{'/documents/showFormForUpdate/' + ${documentTo.id}}" class="btn btn-sm btn-outline-info">Update</a>
                    <a th:href="@{'/documents/delete/' + ${documentTo.id}}" class="btn btn-sm btn-outline-danger"
                       onclick="if (!(confirm('Are you sure?'))) return false">Delete</a>
                </div>
            </div>


        </div>



    </div>
</body>
</html>