<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <link th:href="@{/css/bootstrap-4.5.0-dist/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/static/js/jquery.min.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>

    <title>Documents List</title>

</head>
<body>

    <div class="container">

        <a th:href="@{/}">Back to Home page</a>

        <br><br>

        <h3>List of Documents</h3>

        <hr>

        <div class="container-fluid p-3 my-3 bg-dark text-white">
            <form action="#" th:action="@{/documents/list}" method="get">
                <div class="row mb-3">
                    <div class="col-sm-2">
                        <input type="text" class="form-control" th:name="decimalNumber" th:value="${param.decimalNumber}" placeholder="Decimal number">
                    </div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" th:name="name" th:value="${param.name}" placeholder="Name">
                    </div>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" th:name="inventoryNumber" th:value="${param.inventoryNumber}" placeholder="Inventory number">
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control selectpicker" name="status">
                            <option value="">Status (not selected)</option>
                            <option th:each="drop : ${T(com.igar15.filecabinet.entity.enums.Status).values()}"
                                th:value="${drop}"
                                th:text="${drop.name}"
                                th:selected="${drop.name.toUpperCase() == status}">
                            </option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control selectpicker" name="stage">
                            <option value="">Stage (not selected)</option>
                            <option th:each="drop : ${T(com.igar15.filecabinet.entity.enums.Stage).values()}"
                                    th:value="${drop}"
                                    th:text="${drop}"
                                    th:selected="${drop.name() == stage}">
                            </option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control selectpicker" name="form">
                            <option value="">Form (not selected)</option>
                            <option th:each="drop : ${T(com.igar15.filecabinet.entity.enums.Form).values()}"
                                    th:value="${drop}"
                                    th:text="${drop.name}"
                                    th:selected="${drop.name.toUpperCase() == form}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-2">
                        <select class="form-control selectpicker" name="department">
                            <option value="">Developer (not selected)</option>
                            <option th:each="drop : ${departments}"
                                    th:value="${drop.name}"
                                    th:text="${drop.name}"
                                    th:selected="${drop.name == department}">
                            </option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control selectpicker" name="originalHolder">
                            <option value="">Original holder (not selected)</option>
                            <option th:each="drop : ${originalHolders}"
                                    th:value="${drop.name}"
                                    th:text="${drop.name}"
                                    th:selected="${drop.name == originalHolder}">
                            </option>
                        </select>
                    </div>
                    <div class="col-sm-1">
                        <div th:text="'R. Date (After):'" class="h6 thead-dark align-middle text-center"></div>
                    </div>
                    <div class="col-sm-3">
                        <input type="date" class="form-control" th:name="after" th:value="${param.after}">
                    </div>
                    <div class="col-sm-1">
                        <div th:text="'R. Date (Before):'" class="h6 thead-dark align-middle text-center"></div>
                    </div>
                    <div class="col-sm-3">
                        <input type="date" class="form-control" th:name="before" th:value="${param.before}">
                    </div>
                </div>
                <button type="submit" class="btn btn-info col-2">Search</button>
                <a th:href="@{/documents/list}" class="btn btn-danger col-2">Clear filters</a>
            </form>
        </div>

        <br><br>

        <a th:href="@{/documents/showAddForm}" class="btn btn-primary btn-sm mb-3">Add Document</a>

        <table class="table table-bordered table-hover">
            <thead class="thead-dark text-center">
                <tr>
                    <th class="align-middle"><a class="sorted text-light" sd:pagination-sort="decimalNumber">Decimal number</a></th>
                    <th class="align-middle"><a class="sorted text-light" sd:pagination-sort="name">Name</a></th>
                    <th class="align-middle"><a class="sorted text-light" sd:pagination-sort="department">Developer</a></th>
                    <th class="align-middle"><a class="sorted text-light" sd:pagination-sort="status">Status</a></th>
                    <th class="align-middle"><a class="sorted text-light" sd:pagination-sort="originalHolder">Original Holder</a></th>
                    <th class="align-middle">Show Document</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="tempDocument : ${documents}">
                    <td class="align-middle">
                        <a th:href="@{'/documents/showDocumentInfo/' + ${tempDocument.id}}" th:text="${tempDocument.decimalNumber}"></a>
                    </td>
                    <td class="align-middle" th:text="${tempDocument.name}"></td>
                    <td class="align-middle text-center">
                        <a th:if="${tempDocument.department != null}" th:href="@{'/departments/showDepartmentInfo/' + ${tempDocument.department.id}}" th:target="_blank" th:text="${tempDocument.department.name}"></a>
                    </td>
                    <td class="align-middle text-center" th:text="${tempDocument.status.name}"></td>
                    <td class="align-middle text-center">
                        <a th:if="${tempDocument.originalHolder != null}" th:href="@{'/companies/showCompanyInfo/' + ${tempDocument.originalHolder.id}}" th:target="_blank" th:text="${tempDocument.originalHolder.name}"></a>
                    </td>
                    <td class="align-middle text-center">
                        <a href="file:///C:/ARCHIV_22_N/PODL/VUIA/301411/068/SP/" class="btn btn-sm btn-success"><i class="fa fa-binoculars"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row mb-3">
            <div class="col-sm-6">
                Show <span sd:page-size-selector="javascript"></span> entries
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div sd:pagination-summary="">info</div>
            </div>
            <div class="col-sm-6">
                <nav class="pull-right">
                    <ul class="pagination" sd:pagination-split="5" sd:pagination="full">
                        <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</body>
</html>