<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link th:href="@{/css/bootstrap-4.5.0-dist/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/static/js/jquery.min.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>

    <title th:text="#{documentInfo}">Document Info</title>
</head>
<body>

    <div class="container">

        <a th:href="@{/documents/list}" th:text="#{toListOfDocuments}">To List of Documents</a>

        <br><br>

        <h3 th:text="#{documentDirectory}">Document Directory</h3>

        <hr>

        <p class="h4 mb-4" th:text="${document.decimalNumber} + ' ' + #{information}"></p>

        <div th:object="${document}">

            <div class="row px-3">
                <div class="col-sm-3 border">
                    <h6 th:text="#{decimalNumber} + ':'">Decimal number:</h6>
                </div>
                <div class="col-sm-3 border">
                    <h6 th:text="*{decimalNumber}"></h6>
                </div>
            </div>

            <div class="row px-3">
                <div class="col-sm-3 border">
                    <h6 th:text="#{name} + ':'">Name:</h6>
                </div>
                <div class="col-sm-3 border">
                    <h6 th:text="*{name}"></h6>
                </div>
            </div>

            <div class="row px-3">
                <div class="col-sm-3 border">
                    <h6 th:text="#{inventoryNumber} + ':'">Inventory number:</h6>
                </div>
                <div class="col-sm-3 border">
                    <h6 th:text="*{inventoryNumber}"></h6>
                </div>
            </div>

            <div class="row px-3">
                <div class="col-sm-3 border">
                    <h6 th:text="#{issueDate} + ':'">Issue date:</h6>
                </div>
                <div class="col-sm-3 border">
                    <h6 th:text="*{receiptDate}"></h6>
                </div>
            </div>

            <div class="row px-3">
                <div class="col-sm-3 border">
                    <h6 th:text="#{status} + ':'">Status:</h6>
                </div>
                <div class="col-sm-3 border">
                    <h6 th:text="#{*{'status.' + status}}"></h6>
                </div>
            </div>

            <div class="row px-3">
                <div class="col-sm-3 border">
                    <h6 th:text="#{stage} + ':'">Stage:</h6>
                </div>
                <div class="col-sm-3 border">
                    <h6 th:text="*{stage}"></h6>
                </div>
            </div>

            <div class="row px-3">
                <div class="col-sm-3 border">
                    <h6 th:text="#{developer} + ':'">Developer:</h6>
                </div>
                <div class="col-sm-3 border">
                    <a class="h6" th:if="${document.department != null}" th:href="@{'/departments/showDepartmentInfo/' + ${document.department.id}}" th:target="_blank" th:text="${document.department.name}"></a>
                </div>
            </div>

            <div class="row px-3">
                <div class="col-sm-3 border">
                    <h6 th:text="#{originalHolder} + ':'">Original holder:</h6>
                </div>
                <div class="col-sm-3 border">
                    <a class="h6" th:if="${document.originalHolder != null}" th:href="@{'/companies/showCompanyInfo/' + ${document.originalHolder.id}}" th:target="_blank" th:text="${document.originalHolder.name}"></a>
                </div>
            </div>

            <div class="row px-3">
                <div class="col-sm-3 border">
                    <h6 th:text="#{form} + ':'">Form:</h6>
                </div>
                <div class="col-sm-3 border">
                    <h6 th:text="#{*{'form.' + form}}"></h6>
                </div>
            </div>

            <div class="row px-3" th:if="${document.form.name() == 'PAPER'}">
                <div class="col-sm-3 border">
                    <h6 th:text="#{format} + ':'">Format:</h6>
                </div>
                <div class="col-sm-3 border">
                    <h6 th:text="*{format}"></h6>
                </div>
            </div>

            <div class="row px-3" th:if="${document.form.name() == 'PAPER'}">
                <div class="col-sm-3 border">
                    <h6 th:text="#{sheetsAmount} + ':'">Sheets amount:</h6>
                </div>
                <div class="col-sm-3 border">
                    <h6 th:text="*{sheetsAmount}"></h6>
                </div>
            </div>


            <div class="row px-3" th:if="${document.form.name() == 'PAPER'}">
                <div class="col-sm-3 border">
                    <h6 th:text="#{a4Amount} + ':'">A4 amount:</h6>
                </div>
                <div class="col-sm-3 border">
                    <h6 th:text="*{a4Amount}"></h6>
                </div>
            </div>

            <div class="row px-3">
                <div class="col-sm-3 border">
                    <h6 th:text="#{changeNotices} + ':'">Changes:</h6>
                </div>
                <div class="col-sm-3 border">
                    <a th:href="@{'/documents/showChanges/' + ${document.id}}" th:text="#{showChanges}">
                        Show changes
                    </a>
                </div>
            </div>

            <div class="row px-3">
                <div class="col-sm-3 border">
                    <h6 th:text="#{applicability} + ':'">Applicabilities:</h6>
                </div>
                <div class="col-sm-3 border">
                    <a th:href="@{'/documents/showApplicabilities/' + ${document.id}}" th:text="#{showApplicability}">
                        Show applicabilities
                    </a>
                </div>
            </div>

            <div class="row px-3">
                <div class="col-sm-3 border">
                    <h6 th:text="#{externalDispatches} + ':'">External dispatches:</h6>
                </div>
                <div class="col-sm-3 border">
                    <a th:href="@{'/documents/showExternalDispatches/' + ${document.id}}" th:text="#{showExternals}">
                        Show externals
                    </a>
                </div>
            </div>

            <div class="row px-3 mb-1">
                <div class="col-sm-3 border">
                    <h6 th:text="#{internalDispatches} + ':'">Internal dispatches:</h6>
                </div>
                <div class="col-sm-3 border">
                    <a th:href="@{'/documents/showInternalDispatches/' + ${document.id}}" th:text="#{showInternals}">
                        Show internals
                    </a>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-sm-4 offset-2 text-right">
                    <a th:href="@{'/documents/showFormForUpdate/' + ${document.id}}" class="btn btn-sm btn-outline-info" th:text="#{update}">Update</a>
                    <a th:href="@{'/documents/delete/' + ${document.id}}" class="btn btn-sm btn-outline-danger"
                       onclick="if (!(confirm('Are you sure?'))) return false" th:text="#{delete}">Delete</a>
                </div>
            </div>

        </div>
    </div>
</body>
</html>