<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">

    <link th:href="@{/css/bootstrap-4.5.0-dist/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/js/jquery-1.7.2.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>

    <title th:text="#{documentChangeNotices}">Document change notices</title>
</head>
<body>

    <div class="container" th:replace="fragments/menu :: menu">
        <p>menu</p>
    </div>


<div class="container">

    <br>

    <h3 class="font-weight-bold text-secondary" th:text="#{index.section.documents}">Documents</h3>

    <hr>

    <p class="h4 mb-3" th:text="${document.decimalNumber} + ' ' + #{document.changenotices.section.changenotices}"></p>


    <div th:if="${document.changeNotices == null || document.changeNotices.size() == 0}">
        <br>
        <h6 class="font-weight-bold" th:text="#{noChanges}">No changes</h6>
    </div>

    <div th:if="${document.changeNotices != null && document.changeNotices.size() != 0}">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark text-center">
                <tr>
                    <th class="align-middle" th:text="#{changeNumber}">Change number</th>
                    <th class="align-middle" th:text="#{changeNoticeNumber}">Name</th>
                    <th class="align-middle" th:text="#{issueDate}">Issue date</th>
                    <th class="align-middle" th:text="#{developer}">Department</th>
                    <th class="align-middle" th:text="#{changeCode}">Change code</th>
                    <th class="align-middle" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_OTD_WORKER')" th:text="#{remove}">Remove</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="entry : ${document.changeNotices.entrySet()}">
                    <td class="align-middle text-center" th:text="${entry.key}"></td>
                    <td class="align-middle text-center">
                        <a th:href="@{'/changenotices/showChangeNoticeInfo/' + ${entry.value.id}}" th:text="${entry.value.name}"></a>
                    </td>
                    <td class="align-middle text-center" th:text="${entry.value.issueDate}"></td>
                    <td class="align-middle text-center" th:text="${entry.value.department} == null ? '' : ${entry.value.department.name}"></td>
                    <td class="align-middle text-center" th:text="${entry.value.changeCode}"></td>
                    <td class="align-middle text-center" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_OTD_WORKER')">
                        <a class="btn btn-sm btn-danger"
                           th:href="@{'/documents/removeChange/' + ${document.id} + '/' + ${entry.value.id}}" onclick="if (!(confirm('Are you sure?'))) return false"><i class="fa fa-times"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="text-danger" th:if="${errorMessage != null}">
        <h6 th:text="#{changeNoticeRemoveErrorMessage}"></h6>
    </div>
</div>
</body>
</html>