<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link th:href="@{/css/bootstrap-4.5.0-dist/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/static/js/jquery.min.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>

    <title>Document change notices</title>
</head>
<body>
<div class="container">
    <a th:href="@{'/documents/showDocumentInfo/' + ${document.id}}">Back to Document info</a>

    <br><br>

    <h3>Document Directory</h3>

    <hr>

    <p class="h4 mb-3" th:text="${document.decimalNumber} + ' change notices'"></p>


    <div th:if="${document.changeNotices == null || document.changeNotices.size() == 0}">
        <h6>No changes</h6>
    </div>

    <div th:if="${document.changeNotices != null && document.changeNotices.size() != 0}">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark text-center">
                <tr>
                    <th class="align-middle">Change number</th>
                    <th class="align-middle">Name</th>
                    <th class="align-middle">Issue date</th>
                    <th class="align-middle">Department</th>
                    <th class="align-middle">Change code</th>
                    <th class="align-middle">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="entry : ${document.changeNotices.entrySet()}">
                    <td class="align-middle text-center" th:text="${entry.key}"></td>
                    <td class="align-middle text-center">
                        <a th:href="@{'/changenotices/showChangeNoticeInfo/' + ${entry.value.id}}" th:text="${entry.value.name}"></a>
                    </td>
                    <td class="align-middle text-center" th:text="${entry.value.issueDate}"></td>
                    <td class="align-middle text-center" th:text="${entry.value.department} == null ? '' : ${entry.value.department.name}"></td>
                    <td class="align-middle text-center" th:text="${entry.value.changeCode}"></td>
                    <td class="align-middle text-center">
                        <a class="btn btn-sm btn-outline-danger"
                           th:href="@{'/documents/removeChange/' + ${document.id} + '/' + ${entry.value.id}}" onclick="if (!(confirm('Are you sure?'))) return false">Remove</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="text-danger" th:if="${errorMessage != null}">
        <h6 th:text="${errorMessage}"></h6>
    </div>
</div>
</body>
</html>