<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link th:href="@{/css/bootstrap-4.5.0-dist/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/js/jquery-1.7.2.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>

    <title th:text="#{internalDispatchesList}">Internal dispatches list</title>
</head>
<body>

    <div class="container" th:replace="fragments/menu :: menu">
        <p>menu</p>
    </div>


<div class="container">

    <br>

    <h3 th:text="#{documentDirectory}">Document Directory</h3>

    <hr>

    <p class="h4 mb-3" th:text="${document.decimalNumber} + ' ' + #{document.internaldispatches.section.internalDispatches}"></p>


    <div th:if="${document.internalDispatches == null || document.internalDispatches.size() == 0}">
        <h6 th:text="#{noInternalDispatches}">No internal dispatches</h6>
    </div>

    <div th:if="${document.internalDispatches != null && document.internalDispatches.size() != 0}">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark text-center">
                <tr>
                    <th class="align-middle" th:text="#{dispatchHandler}">Dispatch handler</th>
                    <th class="align-middle" th:text="#{status}">Status</th>
                    <th class="align-middle" th:text="#{active}">Active</th>
                    <th class="align-middle" th:text="#{dispatchDate}">Dispatch date</th>
                    <th class="align-middle" th:text="#{dispatchType}">Dispatch type</th>
                    <th class="align-middle" th:text="#{stamp}">Stamp</th>
                    <th class="align-middle" th:text="#{waybill}">Waybill</th>
                    <th class="align-middle" th:text="#{action}">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="tempInternal : ${document.internalDispatches}" th:class="${tempInternal.value} ? 'table-default' : 'table-danger'">
                    <td class="align-middle text-center" th:if="${tempInternal.key.isAlbum}" th:text="#{index.section.copiesArchive}"></td>
                    <td class="align-middle text-center" th:if="${!tempInternal.key.isAlbum}" th:text="${tempInternal.key.dispatchHandler.name}"></td>
                    <td class="align-middle text-center" th:text="#{${'status.' + tempInternal.key.status}}"></td>
                    <td class="align-middle text-center" th:text="#{${'active.' + tempInternal.value}}"></td>
                    <td class="align-middle text-center" th:text="${tempInternal.key.dispatchDate}"></td>
                    <td class="align-middle text-center" th:if="${tempInternal.key.isAlbum}" th:text="#{album} + ' (' + ${tempInternal.key.albumName} + ')'"></td>
                    <td class="align-middle text-center" th:if="${!tempInternal.key.isAlbum}" th:text="#{scattered}"></td>
                    <td class="align-middle text-center" th:text="${tempInternal.key.stamp}"></td>
                    <td class="align-middle text-center">
                        <a th:href="@{'/internaldispatches/showInternalDispatchInfo/' + ${tempInternal.key.id}}" th:text="${tempInternal.key.waybill}"></a>
                    </td>
                    <td class="align-middle text-center">
                        <a class="btn btn-sm btn-outline-danger" th:if="${tempInternal.value == true && tempInternal.key.albumName != document.decimalNumber}"
                           th:href="@{'/documents/deregisterInternal/' + ${id} + '/' + ${tempInternal.key.id}}" onclick="if (!(confirm('Are you sure?'))) return false" th:text="#{deregister}">Deregister</a>
                        <a class="btn btn-sm btn-outline-danger" th:if="${tempInternal.value == true && tempInternal.key.albumName == document.decimalNumber}"
                           th:href="@{'/documents/deregisterAlbum/' + ${id} + '/' + ${tempInternal.key.id}}" onclick="if (!(confirm('Are you sure?'))) return false" th:text="#{deregisterAlbum}">Deregister album</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>