<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">

    <link th:href="@{/css/bootstrap-4.5.0-dist/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/js/jquery-1.7.2.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>

    <title th:text="#{documentApplicabilityList}">Document applicabilities list</title>
</head>
<body>

    <div class="container" th:replace="fragments/menu :: menu">
        <p>menu</p>
    </div>


<div class="container">

    <br>

    <h3 th:text="#{documentDirectory}">Document Directory</h3>

    <hr>

    <form th:action="@{'/documents/addApplicability/' + ${id}}" method="post" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_OTD_WORKER')">
        <div class="row mb-1">
            <div class="col-sm-4">
                <input type="text" th:class="${errorMessage == null} ? 'form-control' : 'form-control is-invalid'" th:name="newApplicability" th:value="${errorMessage != null} ? ${param.newApplicability} : ''" th:placeholder="#{applicabilityDecimalNumber}"/>
            </div>
            <button type="submit" class="btn btn-primary col-2" th:text="#{addApplicability}">Add applicability</button>
        </div>
        <span class="help-block" th:if="${errorMessage != null}">
            <div th:switch="${errorMessage}">
                <ul>
                    <li class="text-danger" th:case="'Decimal number must not be empty'" th:text="#{addApplicabilityErrorMessage.decimalNumberMustNotBeEmpty}"/>
                    <li class="text-danger" th:case="'Applicability already added'" th:text="#{addApplicabilityErrorMessage.alreadyAdded}"/>
                    <li class="text-danger" th:case="'Document not found'" th:text="#{addApplicabilityErrorMessage.notFound}"/>
                </ul>
            </div>
        </span>
    </form>

    <br>

    <p class="h4 mb-3" th:text="${document.decimalNumber} + ' ' + #{document.applicabilities.section.applicability}"></p>

    <div th:if="${document.applicabilities == null ||document.applicabilities.size() == 0}">
        <p class="h6" th:text="#{noApplicability}">No applicability</p>
    </div>

    <div th:if="${document.applicabilities != null && document.applicabilities.size() != 0}">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark text-center">
                <tr>
                    <th class="align-middle" th:text="#{decimalNumber}">Decimal number</th>
                    <th class="align-middle" th:text="#{name}">Name</th>
                    <th class="align-middle" th:text="#{action}" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_OTD_WORKER')">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="tempApplicability : ${document.applicabilities}">
                    <td class="align-middle">
                        <a th:href="@{'/documents/showDocumentInfo/' + ${tempApplicability.id}}"><span class="text-dark" th:text="${tempApplicability.decimalNumber}"/></a>
                    </td>
                    <td class="align-middle" th:text="${tempApplicability.name}"></td>
                    <td class="align-middle" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_OTD_WORKER')">
                        <a class="btn btn-sm btn-outline-danger"
                           th:href="@{'/documents/removeApplicability/' + ${id} + '/' + ${tempApplicability.id}}" onclick="if (!(confirm('Are you sure?'))) return false" th:text="#{remove}">Remove</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>