<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">

    <link th:href="@{/css/bootstrap-4.5.0-dist/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/js/jquery-1.7.2.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>

    <title th:text="#{documentInfo}">Document Info</title>
</head>
<body>

    <div class="container" th:replace="fragments/menu :: menu">
        <p>menu</p>
    </div>


<div class="container">

        <br>

        <h3 th:text="#{documentDirectory}">Document Directory</h3>

        <hr>

        <p class="h4 mb-4" th:text="${document.decimalNumber} + ' ' + #{information}"></p>

        <div th:object="${document}">

            <div class="row px-3">
                <div class="col-sm-3 border">
                    <h6 th:text="#{decimalNumber} + ':'">Decimal number:</h6>
                </div>
                <div class="col-sm-3 border">
                    <h6 th:text="*{decimalNumber}"></h6>
                </div>
            </div>

            <div class="row px-3">
                <div class="col-sm-3 border">
                    <h6 th:text="#{name} + ':'">Name:</h6>
                </div>
                <div class="col-sm-3 border">
                    <h6 th:text="*{name}"></h6>
                </div>
            </div>

            <div class="row px-3">
                <div class="col-sm-3 border">
                    <h6 th:text="#{inventoryNumber} + ':'">Inventory number:</h6>
                </div>
                <div class="col-sm-3 border">
                    <h6 th:text="*{inventoryNumber}"></h6>
                </div>
            </div>

            <div class="row px-3">
                <div class="col-sm-3 border">
                    <h6 th:text="#{issueDate} + ':'">Issue date:</h6>
                </div>
                <div class="col-sm-3 border">
                    <h6 th:text="*{receiptDate}"></h6>
                </div>
            </div>

            <div class="row px-3">
                <div class="col-sm-3 border">
                    <h6 th:text="#{status} + ':'">Status:</h6>
                </div>
                <div class="col-sm-3 border">
                    <h6 th:text="#{*{'status.' + status}}"></h6>
                </div>
            </div>

            <div class="row px-3">
                <div class="col-sm-3 border">
                    <h6 th:text="#{stage} + ':'">Stage:</h6>
                </div>
                <div class="col-sm-3 border">
                    <h6 th:text="*{stage}"></h6>
                </div>
            </div>

            <div class="row px-3">
                <div class="col-sm-3 border">
                    <h6 th:text="#{developer} + ':'">Developer:</h6>
                </div>
                <div class="col-sm-3 border">
                    <a class="h6" th:if="${document.department != null}" th:href="@{'/departments/showDepartmentInfo/' + ${document.department.id}}" th:target="_blank" th:text="${document.department.name}"></a>
                </div>
            </div>

            <div class="row px-3">
                <div class="col-sm-3 border">
                    <h6 th:text="#{originalHolder} + ':'">Original holder:</h6>
                </div>
                <div class="col-sm-3 border">
                    <a class="h6" th:if="${document.originalHolder != null}" th:href="@{'/companies/showCompanyInfo/' + ${document.originalHolder.id}}" th:target="_blank" th:text="${document.originalHolder.name}"></a>
                </div>
            </div>

            <div class="row px-3">
                <div class="col-sm-3 border">
                    <h6 th:text="#{form} + ':'">Form:</h6>
                </div>
                <div class="col-sm-3 border">
                    <h6 th:text="#{*{'form.' + form}}"></h6>
                </div>
            </div>

            <div class="row px-3" th:if="${document.form.name() == 'PAPER'}">
                <div class="col-sm-3 border">
                    <h6 th:text="#{format} + ':'">Format:</h6>
                </div>
                <div class="col-sm-3 border">
                    <h6 th:text="*{format}"></h6>
                </div>
            </div>

            <div class="row px-3" th:if="${document.form.name() == 'PAPER'}">
                <div class="col-sm-3 border">
                    <h6 th:text="#{sheetsAmount} + ':'">Sheets amount:</h6>
                </div>
                <div class="col-sm-3 border">
                    <h6 th:text="*{sheetsAmount}"></h6>
                </div>
            </div>


            <div class="row px-3" th:if="${document.form.name() == 'PAPER'}">
                <div class="col-sm-3 border">
                    <h6 th:text="#{a4Amount} + ':'">A4 amount:</h6>
                </div>
                <div class="col-sm-3 border">
                    <h6 th:text="*{a4Amount}"></h6>
                </div>
            </div>

            <div class="row px-3">
                <div class="col-sm-3 border">
                    <h6 th:text="#{changeNotices} + ':'">Changes:</h6>
                </div>
                <div class="col-sm-3 border">
                    <a th:href="@{'/documents/showChanges/' + ${document.id}}" th:text="#{showChanges}">
                        Show changes
                    </a>
                </div>
            </div>

            <div class="row px-3">
                <div class="col-sm-3 border">
                    <h6 th:text="#{applicability} + ':'">Applicabilities:</h6>
                </div>
                <div class="col-sm-3 border">
                    <a th:href="@{'/documents/showApplicabilities/' + ${document.id}}" th:text="#{showApplicability}">
                        Show applicabilities
                    </a>
                </div>
            </div>

            <div class="row px-3">
                <div class="col-sm-3 border">
                    <h6 th:text="#{externalDispatches} + ':'">External dispatches:</h6>
                </div>
                <div class="col-sm-3 border">
                    <a th:href="@{'/documents/showExternalDispatches/' + ${document.id}}" th:text="#{showExternals}">
                        Show externals
                    </a>
                </div>
            </div>

            <div class="row px-3 mb-1">
                <div class="col-sm-3 border">
                    <h6 th:text="#{internalDispatches} + ':'">Internal dispatches:</h6>
                </div>
                <div class="col-sm-3 border">
                    <a th:href="@{'/documents/showInternalDispatches/' + ${document.id}}" th:text="#{showInternals}">
                        Show internals
                    </a>
                </div>
            </div>

            <div class="row mb-1" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_OTD_WORKER')">
                <div class="col-sm-4 offset-2 text-right">
                    <a th:href="@{'/documents/showFormForUpdate/' + ${document.id}}" class="btn btn-sm btn-outline-info" th:text="#{update}">Update</a>
                    <a th:href="@{'/documents/delete/' + ${document.id}}" class="btn btn-sm btn-outline-danger"
                       onclick="if (!(confirm('Are you sure?'))) return false" th:text="#{delete}">Delete</a>
                </div>
            </div>

        </div>

    <br>

    <p class="h4 mb-4" th:text="${document.decimalNumber} + ' ' + #{electronicImage}"></p>

    <div th:if="${electronicImageDocument == null}">
        <p class="h6" th:text="#{noElectronicImages}">No electronic images</p>

<!--        <p th:if="${emptyFileError != null}" class="text-danger">File should not be empty!</p>-->

<!--        <p th:if="${typeFileError != null}" class="text-danger">File should be pdf!</p>-->

        <form th:action="@{'/electronicImageDocuments/save/' + ${document.id}}" method="post" enctype="multipart/form-data">
            <div class="row mb-1 px-3">
                <div class="col-sm-3 custom-file">
                    <input type="file" th:class="${addFileError == null} ? 'custom-file-input' : 'custom-file-input is-invalid'" id="customFile" name="file">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>

                <div class="col-sm-3">
                    <input type="number" th:class="${changeNumberError == null} ? 'form-control' : 'form-control is-invalid'" th:name="changeNumber" th:value="${changeNumberError != null} ? ${changeNumber} : ''" th:placeholder="#{changeNumber}"/>
                </div>
                <button type="submit" class="btn btn-primary col-2" th:text="#{add}">Add electronic image</button>
            </div>
            <div class="row">
                <span class="help-block col-sm-4">
                    <div th:switch="${addFileError}" th:if="${addFileError != null}">
                        <ul class="px-4">
                            <li class="text-danger" th:case="'File should not be empty!'" th:text="#{addFileError.fileShouldNotBeEmpty}"/>
                            <li class="text-danger" th:case="'File should have pdf type!'" th:text="#{addFileError.fileShouldHavePdfType}"/>
                        </ul>
                    </div>
                </span>
                <span class="help-block col-sm-5" th:if="${changeNumberError != null}">
                    <div th:switch="${changeNumberError}">
                        <ul class="px-6">
                            <li class="text-danger" th:case="'Change number should not be empty!'" th:text="${changeNumberError}"/>
                            <li class="text-danger" th:case="'Change number already exist'" th:text="${changeNumberError}"/>
                        </ul>
                    </div>
                </span>
            </div>
        </form>

        <script>
            // Add the following code if you want the name of the file appear on select
            $(".custom-file-input").on("change", function() {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });
        </script>
    </div>


    <div class="row px-3 mb-3" th:if="${electronicImageDocument != null}">
        <div class="col-sm-2 border">
            <h6 th:text="${electronicImageDocument.fileName}">Electronic image file name</h6>
        </div>
        <div class="col-sm-2 border">
            <h6 th:text="#{change} + ' ' +  ${electronicImageDocument.changeNumber}">Electronic image change number</h6>
        </div>
        <div class="col-sm-4 border">
            <a class="btn btn-sm btn-outline-info"
               th:href="@{'/electronicImageDocuments/showFile/' + ${document.id} + '/' + ${electronicImageDocument.id}}" th:target="_blank" th:text="#{show}">Show</a>

            <a class="btn btn-sm btn-outline-danger"
               th:href="@{'/electronicImageDocuments/annull/' + ${document.id} + '/' + ${electronicImageDocument.id}}" onclick="if (!(confirm('Are you sure?'))) return false" th:text="#{annull}">Annull</a>


            <a class="btn btn-sm btn-outline-danger"
               th:href="@{'/electronicImageDocuments/delete/' + ${document.id} + '/' + ${electronicImageDocument.id}}" onclick="if (!(confirm('Are you sure?'))) return false" th:text="#{delete}">Delete</a>
        </div>
    </div>

    <div class="row px-3">
        <a th:href="@{'/electronicImageDocuments/showPreviousVersions/' + ${document.id} + '/' + ${document.decimalNumber}}" th:target="_blank" th:text="#{showPreviousVersions}">Show previous versions</a>
    </div>

</div>
</body>
</html>