<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">

    <link th:href="@{/css/bootstrap-4.5.0-dist/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/js/jquery-1.7.2.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>

    <title>External dispatches list</title>
</head>
<body>

    <div class="container" th:replace="fragments/menu :: menu">
        <p>menu</p>
    </div>


<div class="container">

    <br>

    <h3 th:text="#{documentDirectory}">Document Directory</h3>

    <hr>

    <p class="h4 mb-3" th:text="${document.decimalNumber} + ' ' + #{document.externaldispatches.section.externalDispatches}"></p>

    <div th:if="${document.externalDispatches == null || document.externalDispatches.size() == 0}">
        <h6 th:text="#{noExternalDispatches}">No external dispatches</h6>
    </div>

    <div th:if="${document.externalDispatches != null && document.externalDispatches.size() != 0}">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark text-center">
                <tr>
                    <th class="align-middle" th:text="#{company}">Company</th>
                    <th class="align-middle" th:text="#{status}">Status</th>
                    <th class="align-middle" th:text="#{active}">Active</th>
                    <th class="align-middle" th:text="#{dispatchDate}">Dispatch date</th>
                    <th class="align-middle" th:text="#{letterOutgoingNumber}">Letter outgoing number</th>
                    <th class="align-middle" th:text="#{waybill}">Waybill</th>
                    <th class="align-middle" th:text="#{action}" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_OTD_WORKER')">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="tempExternal : ${document.externalDispatches}" th:class="${tempExternal.value} ? 'table-default' : 'table-danger'">
                    <td class="align-middle text-center" th:text="${tempExternal.key.company.name}"></td>
                    <td class="align-middle text-center" th:text="#{${'status.' + tempExternal.key.status}}"></td>
                    <td class="align-middle text-center" th:text="#{${'active.' + tempExternal.value}}"></td>
                    <td class="align-middle text-center" th:text="${tempExternal.key.dispatchDate}"></td>
                    <td class="align-middle text-center">
                        <a th:href="@{'/externaldispatches/showExternalDispatchInfo/' + ${tempExternal.key.id}}" th:text="${tempExternal.key.letterOutgoingNumber}"></a>
                    </td>
                    <td class="align-middle text-center" th:text="${tempExternal.key.waybill}"></td>
                    <td class="align-middle text-center" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_OTD_WORKER')">
                        <a class="btn btn-sm btn-outline-danger mr-2" th:if="${tempExternal.value}"
                           th:href="@{'/documents/deregisterExternal/' + ${id} + '/' + ${tempExternal.key.id}}" onclick="if (!(confirm('Are you sure?'))) return false" th:text="#{deregister}">Deregister</a>
                        <a class="btn btn-sm btn-outline-danger" th:if="${tempExternal.value}"
                           th:href="@{'/documents/deregisterExternalWithIncomings/' + ${id} + '/' + ${tempExternal.key.id}}" onclick="if (!(confirm('Are you sure?'))) return false" th:text="#{deregisterWithIncomings}">Dereg. with inc.</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>