<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link th:href="@{/css/bootstrap-4.5.0-dist/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/static/js/jquery.min.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>

    <title>Internal dispatches list</title>
</head>
<body>
<div class="container">
    <a th:href="@{'/documents/showDocumentInfo/' + ${id}}">Back to Document info</a>

    <br><br>

    <h3>Document Directory</h3>

    <hr>

    <p class="h4 mb-3" th:text="${document.decimalNumber} + ' internal dispatches'"></p>


    <div th:if="${document.internalDispatches == null || document.internalDispatches.size() == 0}">
        <h6>No internal dispatches</h6>
    </div>

    <div th:if="${document.internalDispatches != null && document.internalDispatches.size() != 0}">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark text-center">
                <tr>
                    <th class="align-middle">Dispatch handler</th>
                    <th class="align-middle">Status</th>
                    <th class="align-middle">Active</th>
                    <th class="align-middle">Dispatch date</th>
                    <th class="align-middle">Dispatch type</th>
                    <th class="align-middle">Stamp</th>
                    <th class="align-middle">Waybill</th>
                    <th class="align-middle">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="tempInternal : ${document.internalDispatches}" th:class="${tempInternal.value} ? 'table-default' : 'table-danger'">
                    <td class="align-middle text-center" th:text="${tempInternal.key.isAlbum} ? 'Copies archive' : ${tempInternal.key.dispatchHandler.name}"></td>
                    <td class="align-middle text-center" th:text="${tempInternal.key.status}"></td>
                    <td class="align-middle text-center" th:text="${tempInternal.value}"></td>
                    <td class="align-middle text-center" th:text="${tempInternal.key.dispatchDate}"></td>
                    <td class="align-middle text-center" th:text="${tempInternal.key.isAlbum} ? 'Album (' + ${tempInternal.key.albumName} + ')' : 'Scattering'"></td>
                    <td class="align-middle text-center" th:text="${tempInternal.key.stamp}"></td>
                    <td class="align-middle text-center">
                        <a th:href="@{'/internaldispatches/showInternalDispatchInfo/' + ${tempInternal.key.id}}" th:text="${tempInternal.key.waybill}"></a>
                    </td>
                    <td class="align-middle text-center">
                            <a class="btn btn-sm btn-outline-danger" th:if="${tempInternal.value == true && tempInternal.key.albumName != document.decimalNumber}"
                               th:href="@{'/documents/deregisterInternal/' + ${id} + '/' + ${tempInternal.key.id}}" onclick="if (!(confirm('Are you sure?'))) return false">Deregister</a>
                        <a class="btn btn-sm btn-outline-danger" th:if="${tempInternal.value == true && tempInternal.key.albumName == document.decimalNumber}"
                           th:href="@{'/documents/deregisterAlbum/' + ${id} + '/' + ${tempInternal.key.id}}" onclick="if (!(confirm('Are you sure?'))) return false">Deregister album</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>