<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">

    <link th:href="@{/css/bootstrap-4.5.0-dist/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/js/jquery-1.7.2.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>

    <title th:text="#{documentElectronicImages}">Document electronic images</title>
</head>
<body>

<div class="container" th:replace="fragments/menu :: menu">
    <p>menu</p>
</div>


<div class="container">

    <br>

    <h3 th:text="#{documentDirectory}">Document Directory</h3>

    <hr>

    <p class="h4 mb-3" th:text="${decimalNumber} + ' ' + #{electronicImage}"></p>

    <p th:if="${emptyFileError != null}">File should not be empty!</p>

    <p th:if="${typeFileError != null}">File should be pdf!</p>

    <form th:if="${dbFiles.size()!= null && dbFiles.size() == 0}" th:action="@{'/files/save/' + ${documentId} + '/' + ${decimalNumber}}" method="post" enctype="multipart/form-data">
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile" name="file">
            <label class="custom-file-label" for="customFile">Choose file</label>
            <input type="submit" class="btn brn-sm btn-secondary" value="Add">
        </div>
    </form>

    <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>

    <br>

    <div th:if="${dbFiles == null || dbFiles.size() == 0}">
        <h6 th:text="#{noElectronicImages}">No electronic images</h6>
    </div>

    <div th:if="${dbFiles != null && dbFiles.size() != 0}">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark text-center">
            <tr>
                <th class="align-middle" th:text="#{fileName}">File name</th>
                <th class="align-middle" th:text="#{action}">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="dbFile : ${dbFiles}">
                <td class="align-middle text-center" th:text="${dbFile.fileName}"></td>
                <td class="align-middle text-center" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_OTD_WORKER')">
                    <a class="btn btn-sm btn-outline-danger"
                       th:href="@{'/files/showFile/' + ${documentId} + '/' + ${dbFile.id}}" th:target="_blank" th:text="#{show}">Show</a>

                    <a class="btn btn-sm btn-outline-danger"
                       th:href="@{'/files/delete/' + ${documentId} + '/' + ${decimalNumber} + '/' + ${dbFile.id}}" onclick="if (!(confirm('Are you sure?'))) return false" th:text="#{delete}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="text-danger" th:if="${errorMessage != null}">
        <h6 th:text="#{changeNoticeRemoveErrorMessage}"></h6>
    </div>
</div>
</body>
</html>