<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

<!--    <link th:href="@{/css/bootstrap-4.0.0-dist/css/bootstrap.css}" th:rel="stylesheet"/>-->

    <link th:href="@{/css/bootstrap-4.5.0-dist/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>


<!--        <link th:rel="stylesheet" th:href="@{/css/bootstrap-select-1.13.14/dist/css/bootstrap-select.css}"/>-->

    <script th:src="@{/static/js/jquery.min.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>


    <title>Save Document</title>
</head>
<body>
    <div class="container">
        <a href="#" onclick="goBack()">Go Back</a>
        <script>
            function goBack() {
                window.history.back();
            }
        </script>

        <br><br>

        <h3>Document Directory</h3>
        <hr>

        <p class="h4 mb-4">Save Document</p>

        <form class="form-horizontal" th:object="${documentTo}" th:action="@{/documents/save}" method="post">

            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                <p th:text="'Please correct values in error below'">Error Message</p>
            </div>

            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{changeNotices}">


            <div class="form-group">
                <label class="col-sm-2 control-label">Decimal number:</label>
                <div class="col-sm-10">
                    <input type="text" th:class="${#fields.hasErrors('decimalNumber')} ? 'form-control is-invalid' : 'form-control'"  th:field="*{decimalNumber}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('decimalNumber')}">
                        <ul>
                            <li class="text-danger" th:each="err : ${#fields.errors('decimalNumber')}" th:text="${err}"/>
                        </ul>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Name:</label>
                <div class="col-sm-10">
                    <input type="text" th:class="${#fields.hasErrors('name')} ? 'form-control is-invalid' : 'form-control'" th:field="*{name}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('name')}">
                        <ul>
                            <li class="text-danger" th:each="err : ${#fields.errors('name')}" th:text="${err}"/>
                        </ul>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Inventory number:</label>
                <div class="col-sm-10">
                    <input type="text" th:class="${#fields.hasErrors('inventoryNumber')} ? 'form-control is-invalid' : 'form-control'" th:field="*{inventoryNumber}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('inventoryNumber')}">
                        <ul>
                            <li class="text-danger" th:each="err : ${#fields.errors('inventoryNumber')}" th:text="${err}"/>
                        </ul>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Receipt date:</label>
                <div class="col-sm-10">
                    <input type="date" th:class="${#fields.hasErrors('receiptDate')} ? 'form-control is-invalid' : 'form-control'" th:field="*{receiptDate}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('receiptDate')}">
                        <ul>
                            <li class="text-danger" th:each="err : ${#fields.errors('receiptDate')}" th:text="${err}"/>
                        </ul>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Status:</label>
                <div class="col-sm-10">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <p th:each="radioValue : ${T(com.igar15.filecabinet.entity.enums.Status).values()}" th:field="*{status}">
                            <input type="radio" th:field="*{status}" th:value="${radioValue}"/>
                            <label class="btn btn-secondary" th:for="${#ids.prev('status')}" th:text="${radioValue}"></label>
                        </p>
                        <span class="help-block" th:if="${#fields.hasErrors('status')}">
                            <ul>
                                <li class="text-danger" th:each="err : ${#fields.errors('status')}" th:text="${err}"/>
                            </ul>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Applicability:</label>
                <div class="col-sm-10">
                    <input type="text" th:class="${#fields.hasErrors('applicability')} ? 'form-control is-invalid' : 'form-control'" th:field="*{applicability}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('applicability')}">
                        <ul>
                            <li class="text-danger" th:each="err : ${#fields.errors('applicability')}" th:text="${err}"/>
                        </ul>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Form:</label>
                <div class="col-sm-10">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <p th:each="radioValue : ${T(com.igar15.filecabinet.entity.enums.Form).values()}" th:field="*{form}">
                            <input type="radio" th:field="*{form}" th:value="${radioValue}"/>
                            <label class="btn btn-secondary" th:for="${#ids.prev('form')}" th:text="${radioValue}"></label>
                        </p>
                        <span class="help-block" th:if="${#fields.hasErrors('form')}">
                            <ul>
                                <li class="text-danger" th:each="err : ${#fields.errors('form')}" th:text="${err}"/>
                            </ul>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Change number:</label>
                <div class="col-sm-10">
                    <input type="number" th:class="${#fields.hasErrors('changeNumber')} ? 'form-control is-invalid' : 'form-control'" th:field="*{changeNumber}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('changeNumber')}">
                        <ul>
                            <li class="text-danger" th:each="err : ${#fields.errors('changeNumber')}" th:text="${err}"/>
                        </ul>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Stage:</label>
                <div class="col-sm-10">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <p th:each="radioValue : ${T(com.igar15.filecabinet.entity.enums.Stage).values()}">
                            <input type="radio" th:field="*{stage}" th:value="${radioValue}"/>
                            <label class="btn btn-secondary" th:for="${#ids.prev('stage')}" th:text="${radioValue}"></label>
                        </p>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Sheets amount:</label>
                <div class="col-sm-10">
                    <input type="number" th:class="${#fields.hasErrors('sheetsAmount')} ? 'form-control is-invalid' : 'form-control'" th:field="*{sheetsAmount}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('sheetsAmount')}">
                        <ul>
                            <li class="text-danger" th:each="err : ${#fields.errors('sheetsAmount')}" th:text="${err}"/>
                        </ul>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Format:</label>
                <div class="col-sm-10">
                    <input type="text" th:class="${#fields.hasErrors('format')} ? 'form-control is-invalid' : 'form-control'" th:field="*{format}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('format')}">
                        <ul>
                            <li class="text-danger" th:each="err : ${#fields.errors('format')}" th:text="${err}"/>
                        </ul>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">A4 amount:</label>
                <div class="col-sm-10">
                    <input type="number" th:class="${#fields.hasErrors('a4Amount')} ? 'form-control is-invalid' : 'form-control'" th:field="*{a4Amount}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('a4Amount')}">
                        <ul>
                            <li class="text-danger" th:each="err : ${#fields.errors('a4Amount')}" th:text="${err}"/>
                        </ul>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Developer:</label>
                <div class="col-sm-10">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <p th:each="radioValue : ${developers}">
                            <input type="radio" th:field="*{developer}" th:value="${radioValue.name}"/>
                            <label class="btn btn-secondary" th:for="${#ids.prev('developer')}" th:text="${radioValue.name}"></label>
                        </p>
                        <span class="help-block" th:if="${#fields.hasErrors('developer')}">
                            <ul>
                                <li class="text-danger" th:each="err : ${#fields.errors('developer')}" th:text="${err}"/>
                            </ul>
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="originalHolder">Original holder:</label>
                    <select class="form-control selectpicker" th:field="*{originalHolder}" id="originalHolder">
                        <option value="">Nothing selected</option>
                        <option th:each="dropValue : ${companies}"
                                th:value="${dropValue.name}"
                                th:text="${dropValue.name}">pizza
                        </option>
                    </select>
                    <span class="help-block" th:if="${#fields.hasErrors('originalHolder')}">
                    <ul>
                        <li class="text-danger" th:each="err : ${#fields.errors('originalHolder')}" th:text="${err}"/>
                    </ul>
                </span>
                </div>

            </div>

            <br><br>
            <div class="row">
                <button type="submit" class="btn btn-info col-2 offset-1">Save</button>
            </div>
            <br><br>

        </form>
    </div>

<!--    <script th:src="@{/js/jquery.min.js}"></script>-->
<!--    <script th:src="@{/js/popper.min.js}"></script>-->
<!--    <script th:src="@{/css/bootstrap-4.0.0-dist/js/bootstrap.js}"></script>-->
<!--    <script th:src="@{/css/bootstrap-select-1.13.14/dist/js/bootstrap-select.js}"></script>-->

</body>
</html>