<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link th:href="@{/css/bootstrap-4.5.0-dist/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/js/jquery-2.1.4.min.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>

    <title>Document Info</title>
</head>
<body>

    <div class="container">
        <a th:href="@{/documents/list}">Back to Documents list</a>
        <br><br>

        <h3>Document Directory</h3>
        <hr>

        <p class="h4 mb-4">Document information</p>

        <span th:object="${documentTo}">

            <div class="row">
                <div class="col-sm-2">

                </div>
                <div class="col-sm-3 text-right">
                 <a th:href="@{/documents/showFormForUpdate(documentId=${documentTo.id})}" class="btn btn-sm btn-outline-info mb-1">Update</a>
                    <a th:href="@{/documents/delete(documentId=${documentTo.id})}" class="btn btn-sm btn-outline-danger mb-1"
                       onclick="if (!(confirm('Are you sure?'))) return false">Delete</a>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">

                </div>
                <div class="col-sm-2 text-right">
                    <form th:action="@{/documents/showFormForAddChangeNotice}" th:object="${documentTo}" method="post">
                        <input type="hidden" th:field="*{id}">
                        <input type="hidden" th:field="*{name}">
                        <input type="hidden" th:field="*{decimalNumber}">
                        <input type="hidden" th:field="*{inventoryNumber}">
                        <input type="hidden" th:field="*{stage}">
                        <input type="hidden" th:field="*{developer}">
                        <input type="hidden" th:field="*{changeNotices}">
                        <div class="row">
                            <div class="col-sm-6">

                            </div>
                            <div class="col-sm-5">
                                <button type="submit" class="btn btn-sm btn-outline-secondary text-nowrap mb-1">Add/Remove changes</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 border">
                    <h6>Decimal number:</h6>
                </div>
                <div class="col-sm-3 border">
                    <h6 th:text="*{decimalNumber}"></h6>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 border">
                    <h6>Name:</h6>
                </div>
                <div class="col-sm-3 border">
                    <h6 th:text="*{name}"></h6>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 border">
                    <h6>Inventory number:</h6>
                </div>
                <div class="col-sm-3 border">
                    <h6 th:text="*{inventoryNumber}"></h6>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 border">
                    <h6>Stage:</h6>
                </div>
                <div class="col-sm-3 border">
                    <h6 th:text="*{stage}"></h6>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 border">
                    <h6>Developer:</h6>
                </div>
                <div class="col-sm-3 border">
                    <h6 th:text="${documentTo.developer == null} ? '' : ${documentTo.developer.name}"></h6>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 border">
                    <h6>Changes:</h6>
                </div>
                <div class="col-sm-3 border">
                    <h6 th:each="tempChangeNotice : ${documentTo.changeNotices}">
                        <span th:text="${tempChangeNotice.name}"></span>
                    </h6>
                </div>
            </div>

        </span>



    </div>
</body>
</html>