<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link th:href="@{/css/bootstrap-4.5.0-dist/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/static/js/jquery.min.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>

    <title>External dispatches list</title>
</head>
<body>
<div class="container">
    <a th:href="@{'/documents/showDocumentInfo/' + ${id}}">Back to Document info</a>

    <br><br>

    <h3>Document Directory</h3>

    <hr>

    <p class="h4 mb-3" th:text="${document.decimalNumber} + ' external dispatches'"></p>

    <div th:if="${document.externalDispatches == null || document.externalDispatches.size() == 0}">
        <h6>No external dispatches</h6>
    </div>

    <div th:if="${document.externalDispatches != null && document.externalDispatches.size() != 0}">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark text-center">
                <tr>
                    <th class="align-middle">Company</th>
                    <th class="align-middle">Status</th>
                    <th class="align-middle">Active</th>
                    <th class="align-middle">Dispatch date</th>
                    <th class="align-middle">Letter outgoing number</th>
                    <th class="align-middle">Waybill</th>
                    <th class="align-middle">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="tempExternal : ${document.externalDispatches}">
                    <td class="align-middle text-center" th:text="${tempExternal.key.company.name}"></td>
                    <td class="align-middle text-center" th:text="${tempExternal.key.status}"></td>
                    <td class="align-middle text-center" th:text="${tempExternal.value}"></td>
                    <td class="align-middle text-center" th:text="${tempExternal.key.dispatchDate}"></td>
                    <td class="align-middle text-center">
                        <a th:href="@{'/externaldispatches/showExternalDispatchInfo/' + ${tempExternal.key.id}}" th:text="${tempExternal.key.letterOutgoingNumber}"></a>
                    </td>
                    <td class="align-middle text-center" th:text="${tempExternal.key.waybill}"></td>
                    <td class="align-middle text-center">
                        <a class="btn btn-sm btn-outline-danger"
                           th:href="@{'/documents/deregisterExternal/' + ${id} + '/' + ${tempExternal.key.id}}" onclick="if (!(confirm('Are you sure?'))) return false">Deregister</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>