<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link th:href="@{/css/bootstrap-4.5.0-dist/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/static/js/jquery.min.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>

    <title>Documents List</title>

</head>
<body>
    <div class="container">
        <a th:href="@{/}">Back to Home page</a>
        <br><br>
        <h3>Documents List</h3>
        <hr>

        <form action="#" th:action="@{/documents/filter}" method="get">
            <input type="text" th:name="decimalNum" th:value="${param.decimalNum}" class="form-control mb-4 col-4" placeholder="Decimal number">
            <button type="submit" class="btn btn-info col-2">Search</button>
        </form>

        <br><br>

        <a th:href="@{/documents/showAddForm}" class="btn btn-primary btn-sm mb-3">Add Document</a>

        <table class="table table-bordered table-hover">
            <thead class="thead-dark text-center">
                <tr>
                    <th class="align-middle">Decimal number</th>
                    <th class="align-middle">Name</th>
                    <th class="align-middle">Inventory number</th>
                    <th class="align-middle">Stage</th>
                    <th class="align-middle">Developer</th>
                    <th class="align-middle">Original holder</th>
                    <th class="align-middle">Show Document</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="tempDocument : ${documents}">
                    <td class="align-middle">
                        <a th:href="@{'/documents/showDocumentInfo/' + ${tempDocument.id}}"><span class="text-dark" th:text="${tempDocument.decimalNumber}"/></a>
                    </td>
                    <td class="align-middle" th:text="${tempDocument.name}"></td>
                    <td class="align-middle text-center" th:text="${tempDocument.inventoryNumber}"></td>
                    <td class="align-middle text-center" th:text="${tempDocument.stage}"></td>
                    <td class="align-middle text-center" th:text="${tempDocument.developer == null} ? '' : ${tempDocument.developer.name}"></td>
                    <td class="align-middle text-center" th:text="${tempDocument.originalHolder == null} ? '' : ${tempDocument.originalHolder.name}"></td>
                    <td class="align-middle text-center">
                        <a href="file:///C:/ARCHIV_22_N/PODL/VUIA/301411/068/SP/" class="btn btn-sm btn-success"><i class="fa fa-binoculars"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container" th:replace="fragments/footer :: footer">
        <p>footer</p>
    </div>

</body>
</html>