<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link th:href="@{/css/bootstrap-4.5.0-dist/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/static/js/jquery.min.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>

    <title>Company Info</title>
</head>
<body>
<div class="container">
    <a th:href="@{/companies/list}">Back to Companies list</a>
    <br><br>

    <h3>Company Directory</h3>
    <hr>

    <p class="h4 mb-4">Company information</p>

    <span th:object="${company}">

            <div class="row">
                <div class="col-sm-2">

                </div>
                <div class="col-sm-3 text-right">
                    <a th:href="@{/companies/showFormForUpdate(companyId=${company.id})}" class="btn btn-sm btn-outline-info mb-1">Update</a>
                    <a th:href="@{/companies/delete(companyId=${company.id})}" class="btn btn-sm btn-outline-danger mb-1"
                       onclick="if (!(confirm('Are you sure?'))) return false">Delete</a>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 border">
                    <h6>Name:</h6>
                </div>
                <div class="col-sm-3 border">
                    <h6 th:text="*{name}"></h6>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 border">
                    <h6>Address:</h6>
                </div>
                <div class="col-sm-3 border">
                    <h6 th:text="*{address.zipcode + ', ' + address.city + ', ' + address.street + ', ' + address.building}"></h6>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 border">
                    <h6>Contact person:</h6>
                </div>
                <div class="col-sm-3 border">
                    <h6 th:text="*{contactPerson}"></h6>
                </div>
            </div>

        </span>
</div>
</body>
</html>