<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link th:href="@{/css/bootstrap-4.5.0-dist/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/js/jquery-1.7.2.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>

    <title th:text="#{${company.isNew() ? 'saveCompanyFormTitle' : 'updateCompanyFormTitle'}}">Save Company</title>
</head>
<body>

    <div class="container" th:replace="fragments/menu :: menu">
        <p>menu</p>
    </div>

    <div class="container">

        <br>

        <h3 class="font-weight-bold text-secondary" th:text="#{index.section.companies}">Companies</h3>

        <hr>

        <p class="h4 font-weight-bolder font-italic mb-4 offset-sm-3" th:text="#{companyCard}">Company Card</p>

        <form class="form-horizontal" th:object="${company}" th:action="@{/companies/save}" method="post">

            <div th:if="${#fields.hasErrors('*')}" class="text-danger h5 offset-sm-2">
                <p th:text="#{pleaseCorrectValues}">Error Message</p>
            </div>

            <input type="hidden" th:field="*{id}">

            <div class="row mb-3">
                <div class="col-sm-2 form-control-plaintext offset-sm-1">
                    <h6 class="font-weight-bold pull-right" th:text="#{name} + ':'">Name:</h6>
                </div>
                <div class="col-sm-5">
                    <input type="text" th:field="*{name}" th:class="${#fields.hasErrors('name')} ? 'form-control is-invalid' : 'form-control'" th:placeholder="#{name}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('name')}">
                        <ul>
                            <li class="text-danger" th:each="err : ${#fields.errors('name')}" th:text="${err}"/>
                        </ul>
                    </span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-2 form-control-plaintext offset-sm-1">
                    <h6 class="font-weight-bold pull-right" th:text="#{zipCode} + ':'">Zipcode:</h6>
                </div>
                <div class="col-sm-5">
                    <input type="text" th:field="*{address.zipcode}" th:class="${#fields.hasErrors('address.zipcode')} ? 'form-control is-invalid' : 'form-control'" th:placeholder="#{zipCode}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('address.zipcode')}">
                        <ul>
                            <li class="text-danger" th:each="err : ${#fields.errors('address.zipcode')}" th:text="${err}"/>
                        </ul>
                    </span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-2 form-control-plaintext offset-sm-1">
                    <h6 class="font-weight-bold pull-right" th:text="#{city} + ':'">City:</h6>
                </div>
                <div class="col-sm-5">
                    <input type="text" th:field="*{address.city}" th:class="${#fields.hasErrors('address.city')} ? 'form-control is-invalid' : 'form-control'" th:placeholder="#{city}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('address.city')}">
                        <ul>
                            <li class="text-danger" th:each="err : ${#fields.errors('address.city')}" th:text="${err}"/>
                        </ul>
                    </span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-2 form-control-plaintext offset-sm-1">
                    <h6 class="font-weight-bold pull-right" th:text="#{street} + ':'">Street:</h6>
                </div>
                <div class="col-sm-5">
                    <input type="text" th:field="*{address.street}" th:class="${#fields.hasErrors('address.street')} ? 'form-control is-invalid' : 'form-control'" th:placeholder="#{street}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('address.street')}">
                        <ul>
                            <li class="text-danger" th:each="err : ${#fields.errors('address.street')}" th:text="${err}"/>
                        </ul>
                    </span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-2 form-control-plaintext offset-sm-1">
                    <h6 class="font-weight-bold pull-right" th:text="#{building} + ':'">Building:</h6>
                </div>
                <div class="col-sm-5">
                    <input type="text" th:field="*{address.building}" th:class="${#fields.hasErrors('address.building')} ? 'form-control is-invalid' : 'form-control'" th:placeholder="#{building}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('address.building')}">
                        <ul>
                            <li class="text-danger" th:each="err : ${#fields.errors('address.building')}" th:text="${err}"/>
                        </ul>
                    </span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-2 form-control-plaintext offset-sm-1">
                    <h6 class="font-weight-bold pull-right" th:text="#{contactPerson} + ':'">Contact person:</h6>
                </div>
                <div class="col-sm-5">
                    <input type="text" th:field="*{contactPerson}" th:class="${#fields.hasErrors('contactPerson')} ? 'form-control is-invalid' : 'form-control'" th:placeholder="#{contactPerson}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('contactPerson')}">
                        <ul>
                            <li class="text-danger" th:each="err : ${#fields.errors('contactPerson')}" th:text="${err}"/>
                        </ul>
                    </span>
                </div>
            </div>

            <div class="row">
                <button type="submit" class="btn-sm btn-primary offset-7" th:text="#{${company.isNew() ? 'create'  : 'update'}}">Save</button>
            </div>

            <br><br>
        </form>
    </div>
</body>
</html>