<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link th:href="@{/css/bootstrap-4.5.0-dist/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/static/js/jquery.min.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>

    <title>Companies List</title>
</head>
<body>
    <div class="container">
        <a th:href="@{/}">Back to Home page</a>
        <h3>Companies List</h3>
        <hr>

        <a th:href="@{/companies/showAddForm}" class="btn btn-primary btn-sm mb-3">Add Company</a>

        <table class="table table-bordered table-hover">
            <thead class="thead-dark text-center">
            <tr>
                <th>Name</th>
                <th>Contact person</th>
                <th>Address</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tempCompany : ${companies}">
                <td class="align-middle text-center">
                    <a th:href="@{'/companies/showCompanyInfo/' + ${tempCompany.id}}"><span class="text-dark" th:text="${tempCompany.name}"/></a>
                </td>
                <td class="align-middle text-center" th:text="${tempCompany.contactPerson == null} ? '' : ${tempCompany.contactPerson}"/>
                <td class="align-middle text-center" th:text="${tempCompany.address.zipcode + ', ' + tempCompany.address.city + ', ' +
                                                        tempCompany.address.street + ', ' + tempCompany.address.building}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>